<div class="col-md-8 col-sm-12 col-xs-12">
    <div class="x_panel">
      
        <div class="x_content">
            <div id="PartialView">
                @{
                    Html.RenderPartial("~/Views/TraceProgress/_LoginHistory.cshtml");
                }
            </div>
        </div>
    </div>
</div>
