@model TDM.Models.TB_MAS_PROVINCE

@{
    ViewBag.Title = "วิเคราะห์พื้นที่";
}

@section Scripts {
    @Scripts.Render("~/Scripts/Search/Index-Map.js")
    @Scripts.Render("~/Scripts/AreaAnalysis/Index.js")
    
    @Scripts.Render("~/assets/js/datatable/datatables.js")
    @Styles.Render("~/assets/css/datatable/datatables.css")
}
<style>
    .tab-search-icon img {
        width: 32px;
    }

    .table tbody tr td {
        height: 36px;
        vertical-align: middle;
        border: unset;
        border-bottom: 1px solid rgba(30, 30, 30, .2);
        cursor: pointer;
    }

    .bootstrap-select.btn-group .dropdown-menu {
        max-width: 100%;
        overflow-x: hidden;
    }
</style>
<!-- Map Canvas-->
<div class="map-canvas list-solid">

    <!-- Map -->
    <div class="map">
        <iframe id="tdmap" class="map-height" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
    <!-- end Map -->
    <!--Items List-->
    <div class="items-list">
        <div class="inner">
            <div class="scroller1">
                <div class="filter">
                    <form class="main-search" role="form" method="post" action="?">
                        <header class="clearfix">
                            <h3 class="pull-left">เลือกจังหวัดที่ต้องการค้นหา</h3>
                            <div class="buttons pull-right">
                                <a href="~/" class="icon"><i class="fa fa-angle-left" style="color: #4367b0"></i> Back</a>
                            </div>
                        </header>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p>ระบุความสนใจตามเขตการปกครอง</p>
                                <!-- /.form-group -->
                            </div>
                            <!--/.col-md-6-->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select id="province" name="province" data-live-search="true" title="จังหวัด"></select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!--/.col-md-6-->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select id="district" name="district" data-live-search="true" title="เขต/อำเภอ"></select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!--/.col-md-6-->
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select id="sub-district" name="sub-district" data-live-search="true" title="แขวง/ตำบล"></select>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!--/.col-md-6-->

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <select name="branch" title="สำนักงานที่ดิน" data-live-search="true" id="branch">
                                        
                                    </select>
                                </div>
                                <!-- /.form-group -->
                            </div>

                        </div>
                        <!--/.row-->
                    </form>
                    <!-- /.main-search -->
                </div>
                <!--end Filter-->
                <div id="filter-search" class="filter" style="">
                    <form class="main-search" role="form" method="post" action="?">
                        <header class="clearfix" style="margin-bottom: 0px">
                            <h3 class="pull-left" style="margin-bottom: 0px">เลือกค้นหาตามความต้องการ</h3>
                        </header>
                        <div class="row tab-search-icon">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div style="float: left; padding: 20px 0px 20px 10px;" class="button-width">
                                    <a href="~/Search"><button id="btn-detail-price" class="btn framed" title="ระบบแสดงผลข้อมูลราคาซื้อขาย ราคาประเมิน" style="background-color: #fff"><img src="~/assets/img/button-search-1.png"></button></a>
                                </div>
                                <div style="float: left; padding: 20px 0px 20px 10px" class="button-width">
                                    <a href="#"><button id="btn-change-price" class="btn framed" title="ระบบแสดงการเปลี่ยนแปลงราคาซื้อขาย ราคาประเมิน" style="background-color: #fff"><img src="~/assets/img/button-search-2.png"></button></a>
                                </div>
                                
                                <div style="float: left; padding: 20px 0px 20px 10px" class="button-width">
                                    <a href="#"><button id="btn-analys" class="btn framed active" title="การวิเคราะห์พื้นที่" style="background-color: #fff"><img src="~/assets/img/button-search-4.png"></button></a>
                                </div>
                                <div style="float: left; padding: 20px 0px 20px 10px" class="button-width">
                                    <a href="~/TraceProgress"><button id="btn-progress" class="btn framed" title="ระบบการติดตามความคืบหน้าการประเมิน" style="background-color: #fff"><img src="~/assets/img/button-search-5.png"></button></a>
                                </div>

                                <div style="float: left; padding: 20px 0px 20px 10px" class="button-width">
                                    <a href="~/TraceProgress"><button id="btn-loginhistory" class="btn framed" title="ระบบข้อมูลปริมาณการเข้าใช้ระบบ" style="background-color: #fff"><img src="~/assets/img/button-search-BU-6.png"></button></a>
                                </div>
                            </div>
                            <!--/.col-md-6-->
                        </div>
                        <!--/.row-->
                        <div class="row" id="blog-filter-detail" style="">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <p>เลือกหัวข้อการวิเคราะห์พื้นที่</p>
                                <!-- /.form-group -->
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">
                                <div id="building" class="tab-pane fade in">
                                    <div class="row" style="margin-bottom: 10px;" id="">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group" style="padding-left: 0px;">
                                                <input type="text" id="subject_name" class="form-control" placeholder="ชื่อโครงการ" style="    max-width: inherit;">
                                            </div>
                                            <!-- /.form-group -->
                                        </div>


                                        <!--/.col-md-6-->
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <button type="button" onclick="onSearchClick()" class="btn btn-default" style="width: 100%"><i class="fa fa-search"></i></button>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <button type="button" onclick="onResetClick()" class="btn btn-grey-dark" style="width: 100%"><i class="fa fa-refresh"></i></button>
                                            </div>
                                            <!-- /.form-group -->
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- /.main-search -->
                </div>
                <!--end Filter-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="">

                </div>

                <div id="results-detail" class="scroller__track" style="">
                    <table id="tdProjectList" class="table"></table>
                </div>
                <div id="plots-list" class="scroller__track" style="display: none;">
                    <header class="clearfix">
                        <h3 class="pull-left">
                            จำนวนแปลงที่ดิน 5 แปลง
                        </h3>
                        <div class="buttons pull-right">
                            <a href="#" id="btn-back-plots-list" class="icon"><i class="fa fa-angle-left" style="color: #4367b0"></i> Back</a>
                        </div>
                    </header>
                    <ul class="results list">
                        <li>
                            <div class="item" id="1">
                                <div class="wrapper">
                                    <figure>
                                        รูปแปลงที่ดิน: โฉนด พาดผ่าน: 100%
                                    </figure>
                                    <figure>
                                        โฉนดเลขที่: 232 เลขที่ดิน: 12
                                    </figure>
                                    <figure>
                                        ราคาประเมิน (บาท/ตร.ว.) 39,500
                                    </figure>
                                </div>
                                <div class="wrapper align-right padding-top-0" style="vertical-align: bottom;">
                                    <a href="#" id="btn-plots-list"><i class="fa fa-info-circle" style="font-size: 22px"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item" id="1">
                                <div class="wrapper">
                                    <figure>
                                        รูปแปลงที่ดิน: โฉนด พาดผ่าน: 100%
                                    </figure>
                                    <figure>
                                        โฉนดเลขที่: 212 เลขที่ดิน: 15
                                    </figure>
                                    <figure>
                                        ราคาประเมิน (บาท/ตร.ว.) 50,500
                                    </figure>
                                </div>
                                <div class="wrapper align-right padding-top-0" style="vertical-align: bottom;">
                                    <a href="#" id="btn-plots-list"><i class="fa fa-info-circle" style="font-size: 22px"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item" id="1">
                                <div class="wrapper">
                                    <figure>
                                        รูปแปลงที่ดิน: โฉนด พาดผ่าน: 100%
                                    </figure>
                                    <figure>
                                        โฉนดเลขที่: 32 เลขที่ดิน: 5
                                    </figure>
                                    <figure>
                                        ราคาประเมิน (บาท/ตร.ว.) 9,500
                                    </figure>
                                </div>
                                <div class="wrapper align-right padding-top-0" style="vertical-align: bottom;">
                                    <a href="#" id="btn-plots-list"><i class="fa fa-info-circle" style="font-size: 22px"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item" id="1">
                                <div class="wrapper">
                                    <figure>
                                        รูปแปลงที่ดิน: โฉนด พาดผ่าน: 100%
                                    </figure>
                                    <figure>
                                        โฉนดเลขที่: 105 เลขที่ดิน: 10
                                    </figure>
                                    <figure>
                                        ราคาประเมิน (บาท/ตร.ว.) 30,507
                                    </figure>
                                </div>
                                <div class="wrapper align-right padding-top-0" style="vertical-align: bottom;">
                                    <a href="#" id="btn-plots-list"><i class="fa fa-info-circle" style="font-size: 22px"></i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item" id="1">
                                <div class="wrapper">
                                    <figure>
                                        รูปแปลงที่ดิน: โฉนด พาดผ่าน: 100%
                                    </figure>
                                    <figure>
                                        โฉนดเลขที่: 188 เลขที่ดิน: 18
                                    </figure>
                                    <figure>
                                        ราคาประเมิน (บาท/ตร.ว.) 58,500
                                    </figure>
                                </div>
                                <div class="wrapper align-right padding-top-0" style="vertical-align: bottom;">
                                    <a href="#" id="btn-plots-list"><i class="fa fa-info-circle" style="font-size: 22px"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="plots-detail" class="scroller__track" style="display: none;">
                    <header class="clearfix">
                        <h3 class="pull-left"></h3>
                        <div class="buttons pull-right">
                            <a href="#" id="btn-back-plots-detail" class="icon"><i class="fa fa-angle-left" style="color: #4367b0"></i> Back</a>
                        </div>
                    </header>
                    <ul class="results list">
                        <li>
                            <div class="item" id="1">
                                <div class="wrapper">
                                    <h3>
                                        ข้อมูลแปลงที่ดิน
                                    </h3>
                                    <figure>
                                        ประเภทรูปแปลง: แปลงที่ดินมีโฉนด
                                    </figure>
                                    <figure>
                                        หมายเลขระวางแผนที่ (1: 50,000): 5443
                                    </figure>
                                    <figure>
                                        หมายเลขระวางแผนที่ (1: 4,000): 0214
                                    </figure>
                                    <figure>
                                        เลขที่ดิน: 12
                                    </figure>
                                    <figure>
                                        รหัสสำนักงานที่ดิน: 00
                                    </figure>
                                    <figure>
                                        รหัสจังหวัด: 10
                                    </figure>
                                    <figure>
                                        ชื่อจังหวัด: กรุงเทพมหานคร
                                    </figure>
                                    <figure>
                                        รหัสอำเภอ: 04
                                    </figure>
                                    <figure>
                                        ชื่ออำเภอ: บางรัก
                                    </figure>
                                    <figure>
                                        รหัสตำบล: 04
                                    </figure>
                                    <figure>
                                        ชื่อตำบล: บางรัก
                                    </figure>
                                    <figure>
                                        โฉนดเลขที่: 232
                                    </figure>
                                    <figure>
                                        หน้าสำรวจ: 18
                                    </figure>
                                    <figure>
                                        ไร่: 6   งาน: 0   วา: 97  เศษวา: 0.8
                                    </figure>
                                    <figure>
                                        จำนวนผู้ถือกรรมสิทธิ: 0
                                    </figure>
                                    <figure>
                                        การพาดผ่าน: 100 %
                                    </figure>
                                    <figure>
                                        ราคาประเมิน (บาท/ตร.ว.)  : 39,500
                                    </figure>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--results-->
    </div>
    <!--end Items List-->
</div>
<!-- end Map Canvas-->
