@model TDM.Models.PROJECT_IMPACT

@{
    ViewBag.Title = "วิเคราะห์พื้นที่";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        /**/
        //var root = ~/;
        /**/
        var currentUrl = "";

        switch (document.location.hostname) {
            case 'localhost': currentUrl = "http://" + document.location.hostname + ":" + document.location.port; break;
            default: currentUrl = "https://" + document.location.hostname + "/TDManagement"; break;
        }
    </script>


    @section Scripts {

    }


    <link href="~/assets/css/sweetalert.css" rel="stylesheet" />

    <title>Treasury Map</title>

    <!-- FAVICON -->
    <link rel="icon" href="~/~/assets/img/favicon.png" type="images/png" />



    <script src="~/assets/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatables/dataTables.bootstrap.min.js"></script>
   
    <script src="~/assets/js/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/assets/js/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/assets/js/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/datatables/responsive.bootstrap.js"></script>
    <script src="~/assets/js/datatables/dataTables.scroller.min.js"></script>
   


    <style>
        .table thead tr th {
            font-size: 14px;
            height: 24px;
        }

        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 3px;
            line-height: 1.42857143;
            vertical-align: middle;
            horizontal border-top: 1px solid #ddd;
            height: 40px;
        }

        .btn-success {
            color: #ffffff;
            background: #5cb85c;
            border: 1px solid #4cae4c;
        }

        .modal .modal-dialog {
            width: 90%;
            margin: 0px auto;
        }

        input, select, textarea {
            max-width: none;
        }
    </style>

    <!-- OG TAGS -->
    <meta property="og:title" content="Treasury Map" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="ค้นหาแปลงที่ดินจากจุดสนใจ" />
</head>



    <style>
        .tab-search-icon img {
            width: 32px;
        }

        .panel_header {
            padding: 10px;
        }
    </style>

        <section id="menulist">
            <div class="content-heading bg-white">

                <div class="row">
                    <div class="col-sm-12 divView">
                        <!-- Header -->
                        <div class="row ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h3 class=" text-center  text-info">จัดการพื้นที่ผลกระทบ</i></h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <div class="clearfix"></div>




            <div class="divSection1 row">

                <div class="col-xs-12">

                    <section class="box ">
                        <header class="panel_header bg-info">
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-area-chart fa-2x " aria-hidden="true"> จัดการพื้นที่ผลกระทบ</i>
                                    <span class="fa-2x lbCaption"></span>
                                </div>
                                <div class="col-sm-6">

                                    <a href="#" class="btn btn-success pull-right" onclick="AddProject(0)"><i class="fa fa-plus"></i> เพิ่มโครงการ</a>
                                </div>
                            </div>

                        </header>
                        <div class="content-body">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div id="results-detail" class="scroller__track col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
                                                <table id="tdProjectImpactList" class="table table-bordered table-striped tblInfo"></table>

                                            </div>

                                        </div>

                                    </div>




                                    <input type="hidden" id="hiddenProjectId" />
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>



   
    <div class="modal fade modal-manage" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header bg-info">
                    <a href="#" class="modal-close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">พื้นที่ที่ได้รับผลกระทบ</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/Shared/helper.js"></script>

    <script src="~/Scripts/Shared/config.js"></script>
    <script src="~/Scripts/Shared/http.js?v=1"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/assets/js/moment-with-locales.min.js"></script>
  
    
    <script src="~/assets/css/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <script src="~/assets/css/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/css/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/css/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>


    <script src="~/Scripts/respond.js"></script>




    <script src="~/assets/js/sweetalert.js?"></script>

    <script src="~/Scripts/AreaAnalysis/Manage.js?ver=1.4334"></script>

    <script>

        $(document).on("click", ".blockSearch", function () {

            if (IsMobile()) {
                openNavR('60%');
            }
            else {
                openNavR('40%');
            }

        });
    </script>



</html>
