@{
    string ProvinceId = ViewData["Province"].ToString();
}
<h1 class="ui col-md-12">การติดตามความคืบหน้าการประเมิน รายอำเภอ</h1>
<table id="TableProgressByDistrict" class="cell-border table table-striped">
    <thead>
        <tr>
            <th style="width: 40%; text-align:center">อำเภอ</th>
            <th style="width: 15%; text-align:center">จำนวน</th>
            <th style="width: 15%; text-align:center">ดำเนินการเสร็จสิ้น</th>
            <th style="width: 15%; text-align:center">อยู่ระหว่างดำเนินการ</th>
            <th style="width: 15%; text-align:center">ยังไม่ดำเนินการ</th>
        </tr>
    </thead>
    <tbody id="BodyProgressByDistrict"></tbody>
</table>

<script type="text/javascript">
    // === initial Page ===
    $(document).ready(function () {
        ZoomBegin();

        if (@ProvinceId != '') {
            http.get("/api/TraceProgress/GetTraceProgressByDistrict", { Username: 'USER', YearCode: 'Y2561', DocumentType: 'DC01', Province: @ProvinceId }, function (data) {
                var htmlTable = '';
                $.each(data, function (index, row) {
                    htmlTable += '<tr>';
                    htmlTable += '<td style="text-align:center"><u style="cursor: pointer;"><a onclick="GetTraceProgressByTambon(' + @ProvinceId + ',' + row.District +',\'' + row.DistrictName + '\')">' + row.DistrictName + '</a></u></td>';
                    htmlTable += '<td style="text-align:center">' + row.TotalCountTambon + '</td>';
                    htmlTable += '<td style="text-align:center">' + row.PercentSuccess + '</td>';
                    htmlTable += '<td style="text-align:center">' + row.PercentOnProcess + '</td>';
                    htmlTable += '<td style="text-align:center">' + row.PercentNoAction + '</td>';
                    htmlTable += '</tr>';
                });

                $('#BodyProgressByDistrict').empty();
                $('#BodyProgressByDistrict').append(htmlTable);

            })
        }
    });


    //function GetTraceProgressByTambon(Province, District){

    //    $.ajax({
    //        url: 'GetPageTambon',
    //        data: {
    //            Province: + Province,
    //            District: + District
    //        },
    //        dataType: 'html',
    //        success: function (data) {
    //            $('#PartialView').html(data);
    //        }
    //    });
    //}
    //GetPageTambon(string Province, string District)

    function GetTraceProgressByTambon(Province, District, DistrictName){
        var url = window.location.href;
        url = url.replace('/Home/System_3_with_Layout', '');
        gy = url.split("?");
        cusparameter = gy[0];

        var objectPage = { page: '_District', value: District,valuename : DistrictName };
        objectPageList.push(objectPage);
        objectPageListOnchange();
        var DistrictCode = Province.toString() + District.toString();
        //zoomDistrict(DistrictCode);

        $('#PartialView').load(cusparameter + "/Shared/GetPageTambon", { Province: Province,District : District });
    }


    function ZoomBegin(){
        if(@ProvinceId == "30"){
            setTimeout(function(){
                clear();
                zoomDistrictNotClear(3019,'Late');
                zoomDistrictNotClear(3011,'Late');
                zoomDistrictNotClear(3004,'Complete');
                zoomDistrictNotClear(3002,'Complete');
                zoomDistrictNotClear(3007,'Progress');
                zoomDistrictNotClear(3022,'Progress');
            },2000);

        }
    }
</script>
