@{
//string RegionId = ViewData["Region"].ToString();
}

<style>
    .x_content {
        z-index: 1 !important;
    }

    .container {
        width: 100%;
    }

    .progressbar {
        counter-reset: step;
    }

        .progressbar li {
            list-style: none;
            display: inline-block;
            width: 10.111111%;
            position: relative;
            text-align: center;
            cursor: pointer;
        }

    .progressbar_header li {
        list-style: none;
        display: inline-block;
        width: 10.111111%;
        position: relative;
        text-align: center;
        cursor: pointer;
        -webkit-transform: rotate(321deg);
        -moz-transform: rotate(321deg);
        -o-transform: rotate(321deg);
        writing-mode: lr-tb;
        font-size: 10px !important;
    }

    .progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 30px;
        height: 30px;
        line-height: 30px;
        /*border: 1px solid #ddd; */
        border: 1px solid rgb(191, 191, 191);
        border-radius: 100%;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        background-color: #fff;
    }

    .progressbar li:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        /*background-color: #ddd;*/
        background-color: rgb(191, 191, 191);
        top: 15px;
        left: -50%;
        z-index: -1;
    }

    .progressbar li.complete:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: green;
        top: 15px;
        left: -50%;
        z-index: -1;
    }

    .progressbar li:first-child:after {
        content: none;
    }

    .progressbar li.active {
        color: green;
    }

        .progressbar li.active:before {
            border-color: green;
        }

        .progressbar li.active + li:after {
            background-color: green;
        }

    /*late*/
    .progressbar li.worklate {
        color: red;
    }

        .progressbar li.worklate:before {
            border-color: red;
            background-color: rgb(255, 0, 0);
        }

    .nav-md li.worklate {
        color: white !important;
    }

    /*progress*/
    .progressbar li.workprogress {
        color: yellow;
    }

        .progressbar li.workprogress:before {
            border-color: yellow;
            background-color: rgb(255, 192, 0);
        }

    .nav-md li.workprogress {
        color: #73879C !important;
    }

    /*perfect*/
    .progress li.workperfect {
        color: white !important;
    }

    .progressbar li.workperfect:before {
        border-color: white !important;
        background-color: rgb(112, 173, 71);
    }

    .nav-md li.workperfect {
        color: wheat !important;
    }
</style>



<h1>_TraceProgressCountry</h1>
<h1 class="ui col-md-12">การติดตามความคืบหน้าการประเมินท้งประเทศ</h1>
<div class="container">
    
     
</div>


<script type="text/javascript">
    // === initial Page ===
    $(document).ready(function () {
    });

</script>
