<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="กรมธนารักษ์">
    <meta name="Description" content=" กรมธนารักษ์">
    <title>กรมธนารักษ์</title>

    <style type="text/css">
        .table > tbody > tr.tdDetail > td {
            padding: 0px;
            line-height: 0px;
            height: 0px;
        }

        .box400 {
        width:300px;
        }
    </style>
    @section Scripts {
        @Scripts.Render("~/assets/css/customize.css?v113")
        @Scripts.Render("~/assets/css/Kim_Style.css?v333")
    }


    <script src="~/Scripts/waiting.js?ver=1.0220"></script>

    <link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />

    <link href="~/assets/css/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="~/assets/css/BI/bootstrap.min.css?ver=1.3330" rel="stylesheet" />

    <link href="~/assets/css/BI/pace-theme-flash.css" rel="stylesheet" />
    <link href="~/assets/css/BI/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- CORE CSS FRAMEWORK - END -->
    <!-- CORE CSS TEMPLATE - START -->
    <link href="~/assets/css/BI/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/BI/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/assets/css/BI/jquery-jvectormap-2.0.1.css" rel="stylesheet" />

    <link href="~/assets/css/custom_pera/custom.min.css" rel="stylesheet" />
    <link href="~/assets/css/Kim_Style.css?ver1.3ddd3" rel="stylesheet" />
    <link href="~/assets/css/BI/Style.css?ver1.33dd3d3" rel="stylesheet" />

    <!-- CORE CSS TEMPLATE - END -->
    <link href="~/assets/js/jquery-ui.css" rel="stylesheet" />


    <!-- Bootstrap -->
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js?33"></script>

    <style type="text/css">


        .x_content h1 {
            font-size: 28px;
            font-weight: 500;
        }

        .x_content h2 {
            font-size: 26px;
            font-weight: 500;
        }

        .x_content h3 {
            font-size: 24px;
            font-weight: 500;
        }

        .x_content h4 {
            font-size: 20px;
            font-weight: 500;
        }

        .popover-inner {
            width: 400px;
        }


        .popover {
            background-color: transparent;
        }

        .popover-content, .popover-title {
            width: 400px;
        }

        .popover-content {
            background-color: #ffffff;
        }

        .r4_counter .fa, .glyphicon {
            margin-right: 0px;
            text-align: center;
            margin-top: 0px;
        }
        .slimScrollDiv {
        
        margin-top:65px;
        }
    </style>
    <!-- Bootstrap -->

    <script src="~/Scripts/map_loader.js"></script>
    <script src="~/Scripts/numeral2.6.min.js"></script>
</head>
<body class="nav-md">
    <div id="wait"></div>
    @Html.Partial("~/Views/Shared/_HeaderBar.cshtml")
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")



    <section id="main-content">
        <section id="menulist">
            <div class="content-heading bg-white">

                <div class="row">
                    <div class="col-sm-12 divView">
                        <!-- Header -->
                        <div class="row ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <h2 class=" text-center  text-info">เรียกดูแผนที่/ราคา</i></h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <div class="clearfix"></div>
        <section class="wrapper main-wrapper row" style=''>
            <div class="main_container">
                <!-- Modal -->
                <div class="modal fade" id="ModalChartBar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 150%; margin-left: -188px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">การติดตามความก้าวหน้าของงาน</h4>
                            </div>
                            <div class="modal-body">

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--. Modal -->
                <!-- top navigation -->
                <!-- /top navigation -->
                <!-- page content -->

                <div role="main" class="container-fluid">

                    <!-- Header -->
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                        </div>
                    </div>

                    <!-- Dashboard Menu -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel with-nav-tabs panel-primary">
                                <div class="panel-heading">
                                    <ul class="nav nav-tabs">
                                        <li class="active" onclick="tab_1_1Onclick()"><a href="#tab1primary" data-toggle="tab">ที่ดิน</a></li>
                                        <li onclick="tab_1_2Onclick()"><a href="#tab2primary" data-toggle="tab">อาคารชุด</a></li>
                                        <li onclick="tab_1_3Onclick()"><a href="#tab3primary" data-toggle="tab">สิ่งปลูกสร้าง</a></li>

                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab1primary">

                                            <div class="row" style="text-align:center;">
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <div class="form-group text-left">
                                                        <h4 for="ddlLand" class="text-left">แผนงาน/โครงการ</h4>
                                                        <select class="form-control form-control-lg"
                                                                name="ddlLand" id="ddlLand">
                                                            <option value="0">เลือกทั้งหมด</option>


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="text-align:center; overflow-x:auto">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="divSection1Land">
                                                        <table class="tblChart">

                                                            <tr></tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade in " id="tab2primary">

                                            <div class="row" style="text-align:center;">
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    <div class="form-group text-left">
                                                        <h4 for="ddlTown" class="text-left">ประเภท</h4>
                                                        <select class="form-control form-control-lg"
                                                                name="ddlTown" id="ddlTown">
                                                            <option value="0">เลือกทั้งหมด</option>



                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="text-align:center; overflow-x:auto">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="divSection2Town">
                                                        <table class="tblChart"></table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane  fade in" id="tab3primary">
                                            <div class="x_panel tile  ">

                                                <div class="x_content">
                                                    <div class="row" style="text-align:center;">
                                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                                            <div class="form-group text-left">
                                                                <h4 for="ddlBuild" class="text-left">ประเภท</h4>
                                                                <select class="form-control form-control-lg"
                                                                        name="ddlBuild" id="ddlBuild">
                                                                    <option value="0">เลือกทั้งหมด</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="text-align:center; overflow-x:auto">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="divSection3Build">
                                                                <table class="tblChart"></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ราคาประเมิน (ที่ดิน) Menu -->


                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel with-nav-tabs panel-primary">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li id="tab1" class="liTab active"><a href="#tabDetail1" data-toggle="tab">ที่ดิน</a></li>
                                    <li id="tab2" class="liTab "><a href="#tabDetail1" data-toggle="tab">อาคารชุด</a></li>
                                    <li id="tab3" class="liTab "><a href="#tabDetail1" data-toggle="tab">สิ่งปลูกสร้าง</a></li>
                                    <li id="tab4" class="liTab"><a href="#tabDetail2" data-toggle="tab">พื้นที่ที่มีการพัฒนาโครงการรัฐ</a></li>

                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab tab-content">
                                    <div class="tab-pane fade in active" id="tabDetail1">
                                        <!--Tabl1-->

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel tile  ">

                                                <div class="x_content">
                                                    <div class="row divTab1">
                                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                                            <div class="form-group">
                                                                <select class="form-control form-control-lg" name="ddlType" id="ddlType" required>
                                                                    <option value="0">ทั้งหมด</option>
                                                                    <option value="1">ราคาประเมิน</option>
                                                                    <option value="2">ราคาซื้อขาย</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                    <div class="row" style="text-align:center; overflow-x:auto">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div id="EvalBox1" style="overflow-x: scroll;">
                                                                <!-- Add ราคาประเมิน รายภาค -->
                                                                <!-- Add ราคาประเมิน รายภาค -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-12 col-sm-12 col-xs-12 divTab2">
                                                            <div class="row">
                                                                <!-- Search map section1 part 1(Search) -->
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <section>
                                                                        <div class="row">
                                                                            <div class="col-xs-12">
                                                                                <div class="panel panel-primary">
                                                                                    <div class="panel-heading">
                                                                                        <div class="row">
                                                                                            <div class="col-xs-6">
                                                                                                <h4 class="headerwhite">เลือกพื้นที่ที่ต้องการค้นหา</h4>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="panel-body">

                                                                                        <!-- Add Control ระบุความสนใจตามเขตการปกครอง -->
                                                                                        <div class="row ">
                                                                                            <div class="col-sm-6 col-xs-12" style="padding:0px">
                                                                                                <div class="row  funkyradio">
                                                                                                    <div class="col-sm-12 col-xs-12">
                                                                                                        <b>เลือกภาค/คลัสเตอร์</b>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row  funkyradio">
                                                                                                    <div class="col-sm-6 col-xs-12 ">

                                                                                                        <div class="funkyradio-success">
                                                                                                            <input type="radio" name="Type1" id="rdRegion" checked />
                                                                                                            <label for="rdRegion">ภาค</label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-sm-6 col-xs-12">
                                                                                                        <div class="funkyradio-primary">
                                                                                                            <input type="radio" name="Type1" id="rdCluster" />
                                                                                                            <label for="rdCluster">คลัสเตอร์</label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>



                                                                                        <div class="row">
                                                                                            <div class="col-sm-6 col-xs-12 pnlRegion">
                                                                                                <div class="form-group">
                                                                                                    <select class="form-control form-control-lg" name="ddlRegion" id="ddlRegion" required>
                                                                                                        <option value="">เลือกภาค</option>
                                                                                                        <option value="1">ภาคกลาง</option>
                                                                                                        <option value="2">ตะวันตก</option>
                                                                                                        <option value="3">เหนือ</option>
                                                                                                        <option value="4">ตะวันออกเฉียงเหนือ</option>
                                                                                                        <option value="5">ใต้</option>
                                                                                                        <option value="6">ตะวันออก</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>


                                                                                        </div>
                                                                                        <div class="row">

                                                                                            <div class="col-sm-6 col-xs-12">
                                                                                                <div class="form-group">
                                                                                                    <label for="ddlProvince">เลือกจังหวัด</label>
                                                                                                    <select class="form-control form-control-lg" name="ddlProvince" id="ddlProvince" required>
                                                                                                        <option value="">เลือกจังหวัด</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-sm-6 col-xs-12 divTab1">
                                                                                                <div class="form-group">
                                                                                                    <label for="ddlDistrict">เลือกอำเภอ</label>
                                                                                                    <select class="form-control form-control-lg" name="ddlDistrict" id="ddlDistrict" required>
                                                                                                        <option value="">เลือกอำภอ</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>


                                                                                        </div>
                                                                                        <div class="row">

                                                                                            <div class="col-sm-6 col-xs-12 divTab1">
                                                                                                <div class="form-group">
                                                                                                    <label for="ddlSubdistrict">เลือกตำบล</label>
                                                                                                    <select class="form-control form-control-lg" name="ddlSubdistrict" id="ddlSubdistrict" required>
                                                                                                        <option value="">เลือกตำบล</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>


                                                                                            <div class="col-sm-6  col-xs-12 divTab1 divSection21" style="padding:0px">
                                                                                                <div class="row  ">
                                                                                                    <div class="col-sm-6 col-xs-12" style="height:22px">

                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row  funkyradio">
                                                                                                    <div class="col-sm-6 col-xs-12">

                                                                                                        <div class="funkyradio-success">

                                                                                                            <input type="radio" name="rdType1" id="rdType1" checked />
                                                                                                            <label class="lbType1" for="rdType1">ราคาประเมิน/ตรว.</label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="col-sm-6 col-xs-12 divTab1">
                                                                                                        <div class="funkyradio-primary">

                                                                                                            <input type="radio" name="rdType1" id="rdType2" />
                                                                                                            <label class="lbType2" for="rdType2">ราคาประเมิน/แปลง</label>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>



                                                                                            <div class="col-sm-3  col-xs-12divTab1  divSection22 invisible">
                                                                                                <div class="row  ">
                                                                                                    <div class="col-sm-6 col-xs-12" style="height:22px">

                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row  ">
                                                                                                    <div class="col-sm-12 col-xs-12" style="height:22px">
                                                                                                        <div class="form-group" style="height:22px">
                                                                                                            <div class='input-group date' id='txtSFromDate'>

                                                                                                                <input class="form-control txtSFromDate" autocomplete="off" id="txtSearchStartDate" placeholder="จากวันที่" />
                                                                                                                <span class="input-group-addon  bg-primary">
                                                                                                                    <span class="glyphicon glyphicon-calendar " style="color:#ffffff"></span>
                                                                                                                </span>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>
                                                                                            <div class="col-sm-3 col-xs-12 divTab1 divSection22 invisible">

                                                                                                <div class="row  ">
                                                                                                    <div class="col-sm-12 col-xs-12" style="height:22px">

                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row  ">
                                                                                                    <div class="col-sm-12 col-xs-12" style="height:22px">
                                                                                                        <div class="form-group">
                                                                                                            <div class='input-group date' id='txtSToDate'>
                                                                                                                <input class="form-control txtSToDate" id="txtSearchEndDate" autocomplete="off" placeholder="ถึงวันที่" />
                                                                                                                <span class="input-group-addon bg-primary">
                                                                                                                    <span class="glyphicon glyphicon-calendar" style="color:#ffffff"></span>
                                                                                                                </span>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>

                                                                                        <div class="row divSection2Building  invisible" style="padding-bottom:10px">

                                                                                            <div class="col-xs-6 ">
                                                                                                <select class="form-control form-control-lg" name="ddlConstructionType" id="ddlConstructionType" placeholder="สิ่งปลูกสร้าง">
                                                                                                    <option value="">ประเภทสิ่งปลูกสร้าง</option>
                                                                                                    <option value="1">โรงเรียน</option>
                                                                                                    <option value="2">บ้้าน</option>
                                                                                                </select>
                                                                                            </div>
                                                                                            <div class="col-xs-6">
                                                                                                <div class="panel panel-primary" style="margin-top:-150px">
                                                                                                    <div class="panel-heading">
                                                                                                        <h4 class="headerwhite">เลือกเปรียบเทียบรายจังหวัด</h4>
                                                                                                    </div>

                                                                                                    <div class="panel-body">
                                                                                                        <div class="row">
                                                                                                            <div class="col-sm-12 col-xs-12">
                                                                                                                <select class="form-control form-control-lg"
                                                                                                                        id="ddlProvince1"
                                                                                                                        title="จังหวัด"
                                                                                                                        placeholder="จังหวัด" multiple></select>

                                                                                                            </div>

                                                                                                        </div>

                                                                                                        <div class="row" style="padding-top:10px">
                                                                                                            <div class="col-sm-6 col-xs-12">

                                                                                                                <div class="form-group">
                                                                                                                    <div class='input-group'>
                                                                                                                        <input class="form-control txtPercent" id="txtPercent" value="10" placeholder="% ความต่าง" />
                                                                                                                        <span class="input-group-addon">
                                                                                                                            <span>%</span>
                                                                                                                        </span>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row divTab1 ">
                                                                                            <div class="col-md-2 col-xs-12">
                                                                                                <div class="form-group">
                                                                                                    <input class="form-control MinCostEstimate" id="MinCostEstimate0" value="0" placeholder="ราคาต่ำสุด" />
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-8 col-xs-12">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-12">
                                                                                                        <div id="CostEstimateSlider0"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col-md-1 minDiv" id="minDiv0"></div>
                                                                                                    <div class="col-md-1 offset-md-10 maxDiv" id="maxDiv0"></div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-md-2 col-xs-12">
                                                                                                <div class="form-group">
                                                                                                    <input class="form-control MaxCostEstimate" id="MaxCostEstimate0" value="100000000" placeholder="ราคาสูงสุด" />
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">

                                                                                            <div class="col-sm-2 col-xs-6 col-sm-offset-4">
                                                                                                <button class="form-control  btn btn-primary  btn-large btnSearch" id="bttSearch" name="bttSearch"><i class="fa fa-search"></i>  ค้นหา </button>
                                                                                            </div>
                                                                                            <div class="col-sm-2 col-xs-6">
                                                                                                <button class="form-control  btn btn-default  btn-large btnCancel" id="btnCancel" name="btnCancel"><i class="fa fa-refresh"></i> ยกเลิก </button>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- Add Control ระบุความสนใจตามเขตการปกครอง -->
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <!-- Add Iframe Graph ระบุความสนใจตามเขตการปกครอง -->
                                                                    <div class="divLand">
                                                                        <iframe class="map-height" id="tdmap" width="100%" frameborder="0" style="border:0;height:800px" allowfullscreen></iframe>
                                                                    </div>
                                                                    <!-- display for construction-->
                                                                    <div class="divSection2Building" id="divConstruction">

                                                                    </div>
                                                                    <!-- display for construction-->
                                                                    <!-- Add Iframe Graph ระบุความสนใจตามเขตการปกครอง -->
                                                                </div>
                                                            </div>
                                                            <!-- Search section1 part 1(Search) -->
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!--Tabl1-->
                                    </div>

                                    <div class="tab-pane fade in" id="tabDetail2">
                                        <!-- row 3 -->
                                        <div class="row Tab3">
                                            <!-- Display none -->

                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                <div class="x_panel tile  overflow_hidden" style="border:1px solid #E6E9ED;padding:10px 17px">
                                                    <div class="x_title">
                                                        <div class="col-md-8 col-sm-8 col-xs-9">
                                                            <label class="Label__Header">พื้นที่ที่มีการพัฒนาโครงการรัฐ</label>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 col-xs-3">

                                                            <a href="~/AreaAnalysis/Manage" class="pull-right form-control  btn btn-success  btn-large btnManage">
                                                                เพิ่มโครงการใหม่
                                                            </a>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="x_content">
                                                        <div class="divInfoSection4">
                                                            <table id="datatable4" class="table   datatable4 tblInfoSection4">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="th__center">ชื่อโครงการ</th>
                                                                        <th class="th__center">พื้นที่</th>
                                                                        <th class="th__center">จำนวนแปลงที่ดินที่กระทบ</th>
                                                                        <th class="th__center">เนื้อที่รวม</th>
                                                                        <th class="th__center">ราคาประเมินทั้งหมด</th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-sm-7 col-xs-12 ">
                                                <div class="x_title">
                                                    <div class="col-md-8 col-sm-8 col-xs-9">
                                                        <label class="Label__Header">Buffer</label>
                                                        <label class="lbWarning text-danger"></label>
                                                        <input type="text" class="form-control txtBuffer" />
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 col-xs-3 " style="padding-top:24px;">
                                                        <button class="form-control  btn btn-primary  btn-large btnSearchImpact" id="btnSearchImpact" name="btnSearchImpact"><i class="fa fa-search"></i>  ค้นหา </button>
                                                      
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div class="row">
                                                        <div class="col-md-4"> <label class="Label__Header">ชื่อโครงการ:</label> <label class="lbProectName text-success"></label></div>
                                                        <div class="col-md-2"> <label class="Label__Header">พื้นที่ :</label> <label class="lbProvince text-success""></label></div>
                                                        <div class="col-md-4"> <label class="Label__Header">จำนวนแปลงที่ดินที่กระทบ : </label> <label class="lbParcelImpact text-success""></label></div>
                                                        <div class="col-md-2"> <label class="Label__Header">เนื้อที่รวม :</label><label class="lbArea text-success""></label></div>
                                                      
                                                    </div>
                                                    <div class="divInfoSection4Detail">
                                                        <table id="datatable4" class="table tblInfo   datatable4 tblInfoSection4Detail">
                                                            <thead>
                                                                <tr>
                                                                    <th class="th__center">เลขที่ฉโนด</th>
                                                                    <th class="th__center">จังหวัด</th>
                                                                    <th class="th__center">อำเภอ</th>
                                                                    <th class="th__center">ตำบล</th>
                                                                    <th class="th__center">ราคาประเมิน</th>
                                                                    <th class="th__center">เนื้อที่รวม</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="x_panel tile fixed_height_750 overflow_hidden">
                                                        <div class="x_title">
                                                            <div class="col-md-10 col-sm-8 col-xs-9">
                                                                <label class="Label__Header">แผนที่แสดงพื้นที่ที่มีการพัฒนาโครงการรัฐ</label>
                                                            </div>
                                                            <div class="col-md-2 col-sm-4 col-xs-3">

                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="x_content tdmapSec4">

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>



                </div>


                <div class="row chartBar">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 id="lbHeaderGraph"> แผนภูมิแสดงราคาที่ดิน</h3>
                            </div>
                            <div class="panel-body">
                                <div id="EvalBox1chartBar" class="chartBarNormal" style="height:600px;width:100%"></div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="row chartBar">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 id="lbHeaderTable"> ตารางแสดงราคาที่ดิน</h3>
                            </div>
                            <div class="panel-body">
                                <div id="EvalBox1Table">
                                    <!-- Add ตาราง แผนภูมิแสดงราคาที่ดินรายภาค -->
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr class="bg-info">
                                                <th scope="col">ภาค</th>
                                                <th scope="col">จำนวนแปลงที่ดิน</th>
                                                <th scope="col">ราคาสูงสุด</th>
                                                <th scope="col">ราคาต่ำสุด</th>
                                                <th scope="col">ราคาเฉลี่ย</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <!-- Add ตาราง แผนภูมิแสดงราคาที่ดินรายภาค -->
                                </div>
                            </div>
                        </div>



                    </div>
                </div>





                <!--. custom -->
            </div>

        </section>

    </section>



</body>
<script type="text/javascript">

    $(document).on("click", ".popover-header", function () {
        $(this).closest(".popover").popover('hide');
    });

    $(document).on("click", ".popover-title", function () {
        $('[data-toggle="popover"]').popover('hide'); 
    });

    

    function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
            ['Country', 'Popularity'],
            ['Germany', 200],
            ['United States', 300],
            ['Brazil', 400],
            ['Canada', 500],
            ['France', 600],
            ['RU', 700]
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
    }

    function DrawThai() {
        var data = google.visualization.arrayToDataTable([
            ['City', 'Name', 'Total'],
            ['TH-10', 'Bangkok', 2761477],
            ['TH-12', 'Nonthaburi', 500000],
            ['TH-50', 'Chiang Mai', 3999999],
            ['TH-41', 'Udon Thani', 1090000],
        ]);

        var options = {
            region: 'TH', // Africa
            isStacked: true,
            resolution: 'provinces',
            colorAxis: { colors: ['red', '#f1a43a', 'blue', 'green'] },
            tooltip: { textStyle: { fontName: '"Verdana"', fontSize: 14 } },
            legend: { textStyle: { color: 'black', fontSize: 10 } },
            keepAspectRatio: false,

            //  backgroundColor: '#fff',
            //  datalessRegionColor: '#f8bbd0',
            // defaultColor: '#f5f5f5',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart.draw(data, options);
    };

    function drawCity2Map() {
        var data = google.visualization.arrayToDataTable([
            ['Country', 'Latitude'],
            ['Algeria', 36], ['Angola', -8], ['Benin', 6], ['Botswana', -24],
            ['Burkina Faso', 12], ['Burundi', -3], ['Cameroon', 3],
            ['Canary Islands', 28], ['Cape Verde', 15],
            ['Central African Republic', 4], ['Ceuta', 35], ['Chad', 12],
            ['Comoros', -12], ['Cote d\'Ivoire', 6],
            ['Democratic Republic of the Congo', -3], ['Djibouti', 12],
            ['Egypt', 26], ['Equatorial Guinea', 3], ['Eritrea', 15],
            ['Ethiopia', 9], ['Gabon', 0], ['Gambia', 13], ['Ghana', 5],
            ['Guinea', 10], ['Guinea-Bissau', 12], ['Kenya', -1],
            ['Lesotho', -29], ['Liberia', 6], ['Libya', 32], ['Madagascar', null],
            ['Madeira', 33], ['Malawi', -14], ['Mali', 12], ['Mauritania', 18],
            ['Mauritius', -20], ['Mayotte', -13], ['Melilla', 35],
            ['Morocco', 32], ['Mozambique', -25], ['Namibia', -22],
            ['Niger', 14], ['Nigeria', 8], ['Republic of the Congo', -1],
            ['Réunion', -21], ['Rwanda', -2], ['Saint Helena', -16],
            ['São Tomé and Principe', 0], ['Senegal', 15],
            ['Seychelles', -5], ['Sierra Leone', 8], ['Somalia', 2],
            ['Sudan', 15], ['South Africa', -30], ['South Sudan', 5],
            ['Swaziland', -26], ['Tanzania', -6], ['Togo', 6], ['Tunisia', 34],
            ['Uganda', 1], ['Western Sahara', 25], ['Zambia', -15],
            ['Zimbabwe', -18]
        ]);

        var options = {
            region: '002', // Africa
            colorAxis: { colors: ['#00853f', 'black', '#e31b23'] },
            backgroundColor: '#81d4fa',
            datalessRegionColor: '#f8bbd0',
            defaultColor: '#f5f5f5',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart.draw(data, options);
    }


    function drawCity(shape) {
        shapes = {};

        var symbol = {
            "type": "esriSFS",
            "style": "esriSFSSolid",
            "color": [255, 0, 0],
            "outline": {
                "type": "esriSLS",
                "style": "esriSLSSolid",
                "color": [0, 255, 0, 0],
                "width": 2
            }
        };
        return drawShape(shape, symbol);
    }

    function drawParcel(shape) {
        var symbol = {
            "type": "esriSFS",
            "style": "esriSFSSolid",
            "color": [0, 255, 163, 80],
            "outline": {
                "type": "esriSLS",
                "style": "esriSLSSolid",
                "color": [0, 0, 0, 255],
                "width": 1
            }
        };
        return drawShape(shape, symbol);
    }

    function drawParcelImpact(shape) {
        var symbol = {
            "type": "esriSFS",
            "style": "esriSFSSolid",
            "color": [255, 0, 0, 100],
            "outline": {
                "type": "esriSLS",
                "style": "esriSLSSolid",
                "color": [255, 0, 0, 255],
                "width": 1
            }
        };
        return drawShape(shape, symbol);
    }


    function drawAreaImpact(shape) {
        var symbol = {
            "type": "esriSLS",
            "style": "esriSLSDash",
            "color": [255, 0, 0, 255],
            "width": 2
        };
        return drawShape(shape, symbol);
    }

    function drawShape(shape, symbol) {
        if (shape) {
            return map.addGraphic(shape.split(';')[1], symbol);
        }
        return null;
    }

    function refreshMapDraw() {
        var province = $("#province").val();
        var district = $("#district").val();
        var subDistrict = $("#sub-district").val();

        var province_id = provincesMap[province] ? provincesMap[province].PROVINCE_ID : null;
        var district_id = districtsMap[district] ? districtsMap[district].AMPHUR_ID : null;
        var subDistrict_id = subDistrictsMap[subDistrict] ? subDistrictsMap[subDistrict].TAMBOL_ID : null;

        map.clear();
    }





    //================================ MAP ============================================


    function encrpty(json) {
        return http.post("/api/GIS/Encrypt", { text: JSON.stringify(json) });
    }

    function _mapPostMessage(senderData) {
        encrpty(senderData).then(function (encryptData) {
            var domain = window.document.location.origin;
            gisIframeWindow.postMessage(encryptData, domain);
        });
    }

    var map = {};
    map.zoom2 = function (data) {
        var shape = "POLYGON((11192608.387724396 1878156.1069176663,11265987.934878146 1770532.7710921667,11119228.840570647 1741180.9522306668,11192608.387724396 1878156.1069176663))";
        var srid = 102100;
        var symbol = {
            "type": "esriSLS",
            "style": "esriSLSSolid",
            "color": [115, 76, 0, 255],
            "width": 1
        }

        var gIdGlobal = gisIframeWindow.GIS.addGraphic(shape, srid, symbol);
        console.log(gIdGlobal);
    }

    map.zoom = function (data) {
        var jsonData = {
            zoomBy: "MapService",
            "graphicLayerId": "parcel1",
            mapServiceJsonList: [{
                layerName: "TD_VIEW",
                layerIndexName: "PARCEL_47_50",
                where: "PARCEL_47_50",
                titleField: "PARCEL_47_50",
                detailField: "",
                rendering: {
                }
            }]
        }

        var senderData = {
            event: 'zoom-map',
            data: jsonData
        }
        senderData = JSON.stringify(senderData);
        encrpty(senderData).then(function (encryptData) {
            gisIframeWindow.GIS.postMessage(encryptData, 'https://p-staging.treasury.go.th/TD2');
        });
    }

    map.zoomProc = function (id) {
        var senderData = zoom_select_province(id);
        _mapPostMessage(senderData);
    }

    map.zoomAmphoe = function (id) {
        var senderData = zoomBy_MapService_baseMap('AMPHOE', id);
        _mapPostMessage(senderData);
    }

    map.zoomTambol = function (id) {
        var senderData = zoomBy_MapService_baseMap('TAMBOL', id);
        _mapPostMessage(senderData);
    }

    map.drawPOI = function (x, y, r) {
        var transRes = map.transform(x, y);
        map.buffer(transRes[0].shape, r);
    }

    map.clear = function () {
        gisIframeWindow.GIS.removeGraphic();
    }



    map.addGraphic = function (shape, symbol) {
        var sridIn = 24047;
        var sridOut = [102100];
        var trans = gisIframeWindow.GIS.transform(shape, sridIn, sridOut);

        symbol = symbol || {
            "type": "esriSLS",
            "style": "esriSLSSolid",
            "color": [0, 0, 0, 255],
            "width": 1
        }

        return gisIframeWindow.GIS.addGraphic(trans[0].shape, 102100, symbol);
    }

    map.addGraphicCity = function (shape, symbol) {
        var sridIn = 32647;
        var sridOut = [102100];
        var trans = gisIframeWindow.GIS.transform(shape, sridIn, sridOut);

        symbol = symbol || {
            "type": "esriSLS",
            "style": "esriSLSSolid",
            "color": [115, 76, 0, 255],
            "width": 2
        }

        return gisIframeWindow.GIS.addGraphic(trans[0].shape, 102100, symbol);
    }

    map.removeGraphic = function (gId) {
        gisIframeWindow.GIS.removeGraphic(gId);
    }

    map.transform = function (x, y) {
        var shape = `POINT(${x} ${y})`,
            sridIn = 32647,
            sridOut = [102100];

        var transRes = gisIframeWindow.GIS.transform(shape, sridIn, sridOut);
        return transRes;
    }

    map.buffer = function (shape, r) {
        var srid = 102100,
            radius = parseInt(r),
            addGraphic = true;
        gisIframeWindow.GIS.buffer(shape, srid, radius, addGraphic);
    }

    map.transformShape = function (x, y) {
        var shape = `POINT(${x} ${y})`,
            sridIn = 32647,
            sridOut = [24047, 24048];

        var transRes = gisIframeWindow.GIS.transform(shape, sridIn, sridOut);
        return transRes;
    }

    map.transformPolygon = function (polygon) {
        var shape = polygon,
            sridIn = 32647,
            sridOut = [24047, 24048];

        var transRes = gisIframeWindow.GIS.transform(shape, sridIn, sridOut);
        return transRes;
    }

    map.openMeasurementTool = function (toolName) {
        gisIframeWindow.GIS.openFunction('measurement', { toolName: toolName });
    }

    map.activateDraw = function (callback) {
        // Input
        var toolType = 'polygon',
            clearGraphicWhenComplete = true;

        // Call method
        gisIframeWindow.GIS.activateDraw(toolType, clearGraphicWhenComplete, function (drawEvent) {
            var shape = drawEvent.shape,
                sridIn = drawEvent.srid,
                sridOut = [24047, 24048];

            // Call method
            var result = gisIframeWindow.GIS.transform(shape, sridIn, sridOut);

            callback(result);
        });
    }







    //================================ AreaAnalysis ============================================
    var provincesMap = {};
    var districtsMap = {};
    var subDistrictsMap = {};
    var branchMap = {};
    var poiList = [];
    var provinceList = {};
    var shapes = {
        parcel_shape: null
    }

    var readyLoadTab4 = false;
 

    $(function () {
        $('[data-toggle="popover"]').popover();   

        InitialData();

        /*  MakeSpeedDometer('chartSpeedometer1_1', '', 12.5);
          MakeSpeedDometer('chartSpeedometer1_2', '', 11);
          MakeSpeedDometer('chartSpeedometer1_3', '', 16.7);
          MakeSpeedDometer('chartSpeedometer1_4', '', 19);
          MakeSpeedDometer('chartSpeedometer1_5', '', 22);*/
        viewListManager.init();
        var iframeElement = document.getElementById('tdmap');
       iframeElement.src = 'https://p-staging.treasury.go.th/TD2';
        gisIframeWindow = null;
        iframeElement.onload = function () {
            gisIframeWindow = iframeElement.contentWindow;
            gisIframeWindow.SYSTEM_READY(function (evt) {
                console.log("SYSTEM_READY >>> ", evt);

               
                if (getUrlVars()["tab"] == "4" && !readyLoadTab4) {

                    setTimeout(
                        $('#tab4 a').click(), 3000
                    )
                    readyLoadTab4 = true;
                    $("#tdmap").appendTo(".tdmapSec4");
                }
            });
           
        }









    });




    function tab_2_1Onclick() {
    }
    function tab_2_2Onclick() {

        $(this).addClass("active");

    }
    function tab_2_3Onclick() {

        LoadChart5();
    }


    function LoadChart5() {
        var chartBar5 = echarts.init(document.getElementById('chartBar5'));
        var option = {
            title: {
                text: '',
                subtext: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['ราคาประเมินรวม']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                }
            ],
            yAxis: [
                {
                    type: 'category',
                    data: [{ label: 'ใต้', value: 'ใต้', labelColor: 'yellow' }, 'กลาง', 'เหนือ', 'ตะวันตก', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ']
                }
            ],
            series: [
                {
                    name: 'ราคาประเมินรวม',
                    type: 'bar',
                    data: [18203, 23489, 29034, 104970, 131744, 630230],
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                // build a color map as your need.
                                var colorList = [
                                    '#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
                                    '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
                                    '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
                                ];
                                return colorList[params.dataIndex]
                            },
                            label: {
                                show: false,
                                position: 'top',
                                formatter: '{b}\n{c}'
                            }
                        }
                    }

                }
            ]
        };

        setTimeout(function () {
            chartBar5.setOption(option, true);


        }, 1000);
    }




    function InitialData() {


      //  alert(getUrlVars()["tab"])

        $('.txtFromDate').datetimepicker({
            format: 'mm-dd-yyyy',
            minView: 2,
            pickTime: false,
            autoclose: true
        });


        $('.txtToDate').datetimepicker({
            format: 'mm-dd-yyyy',
            minView: 2,
            pickTime: false,
            autoclose: true
        });

        //  $("#datatable4").DataTable();
        $(".tblDetail").DataTable({ searching: false, info: false });

        LoadChart();
        $.get("/TDManagement/api/Address/GetProvinces", {}, function (data) {

            $("#province").empty();
            $("#province").append("<option value=''>จังหวัด</option>");
            $.each(data, function (index, row) {
                provinceList[row.OBJECTID] = row.NAME_T;
                provincesMap[row.PRO_C] = row;
                $("#province").append("<option value='" + row.PRO_C + "'>" + row.NAME_T + "</option>");
            });
            //$("#province").selectpicker('refresh');
            searchProjectImpactList(0, 1000, null);
        });



    }

    function testxx() {
        alert('Heayy');
        $.get("http://localhost:50028/api/Address/GetProvinces", {}, function (provinces) {

            if (provinces != null && provinces.length > 0) {
                $("#ddlProvince").empty();
                $("#ddlProvince").append("<option value=''>จังหวัด</option>");
                provinces.forEach(function (province, index) {
                    $("#ddlProvince").append("<option value='" + province.PROVINCE_SEQ + "'>" + province.PROVINCE_NAME_TH + "</option>");
                });
            }
        });



    }


    function LoadChart() {

        //var chartBar = echarts.init(document.getElementById('chartBar1'));
        // var chartBar2 = echarts.init(document.getElementById('chartBar2'));
        // var chartBar3 = echarts.init(document.getElementById('chartBar3'));


        var option = {
            title: {
                text: '',
                subtext: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['ราคาประเมินรวม']
            },
            toolbox: {
                show: false,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                }
            ],
            yAxis: [
                {
                    type: 'category',
                    data: [{ label: 'ใต้', value: 'ใต้', labelColor: 'yellow' }, 'กลาง', 'เหนือ', 'ตะวันตก', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ']
                }
            ],
            series: [
                {
                    name: 'ราคาประเมินรวม',
                    type: 'bar',
                    data: [18203, 23489, 29034, 104970, 131744, 630230],
                    itemStyle: {
                        normal: {
                            color: function (params) {
                                // build a color map as your need.
                                var colorList = [
                                    '#C1232B', '#B5C334', '#FCCE10', '#E87C25', '#27727B',
                                    '#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
                                    '#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
                                ];
                                return colorList[params.dataIndex]
                            },
                            label: {
                                show: false,
                                position: 'top',
                                formatter: '{b}\n{c}'
                            }
                        }
                    }

                }
            ]
        };


        var option2 = {
            title: {
                text: '',
                subtext: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['ราคาประเมินรวม']
            },
            toolbox: {
                show: false,
                feature: {
                    mark: { show: true },
                    dataView: { show: false, readOnly: false },
                    magicType: { show: false, type: ['line', 'bar'] },
                    restore: { show: false },
                    saveAsImage: { show: false }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'value'
                }
            ],
            yAxis: [
                {
                    type: 'category',
                    data: [{ label: 'ใต้', value: 'ใต้', labelColor: 'yellow' }, 'กลาง', 'เหนือ', 'ตะวันตก', 'ตะวันออก', 'ตะวันออกเฉียงเหนือ']
                }
            ],
            series: [
                {
                    name: 'ราคาเฉลี่ย',
                    type: 'bar',
                    data: [60000, 300000, 700000, 67000, 460000, 550000],
                    itemStyle: {
                        normal: {
                            color: 'green'
                        },
                        emphasis: {
                            color: '#00e600'

                        }
                    }
                },
                {
                    name: 'ราคาต่ำสุด',
                    type: 'bar',
                    data: [20000, 300000, 40000, 50000, 60000, 40000],

                    itemStyle: {
                        normal: {
                            color: 'yellow'
                        },
                        emphasis: {


                        }
                    }
                },
                {
                    name: 'สูงสุด',
                    type: 'bar',
                    data: [120000, 1300000, 140000, 150000, 160000, 140000],

                    itemStyle: {
                        normal: {
                            color: 'red'
                        },
                        emphasis: {


                        }
                    }
                }
            ]
        };


        var horizontalOption = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['蒸发量', '降水量']
            },
            toolbox: {
                show: false,
                feature: {
                    mark: { show: true },
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: ['เชียงราย', 'เชียงใหม่', 'แพร่', 'น่าน', 'พะเยา', 'ลำพูน', 'ลำปาง', 'แม่ฮ่องสอน']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    splitArea: { show: true }
                }
            ],
            series: [
                {
                    name: 'ราคาซื้อขายที่ดินเฉลี่ยต่อตารางวา',
                    type: 'bar',
                    data: [150000, 300000, 200000, 90000, 70000, 150000, 190000, 30000],
                    itemStyle: {
                        normal: {
                            color: 'green'
                        },
                        emphasis: {
                            color: '#00e600'

                        }
                    }
                },
                {
                    name: 'ราคาซื้อขายที่ดินต่ำสุดเต่อตารางวา',
                    type: 'bar',
                    data: [30000, 60000, 200000, 43000, 32000, 50000, 60000, 10000],
                    itemStyle: {
                        normal: {
                            color: 'yellow'
                        },
                        emphasis: {
                            color: '#ffff00'

                        }
                    }
                }
                ,
                {
                    name: 'ราคาซื้อขายที่ดินสูงสุดเต่อตารางวา',
                    type: 'bar',
                    data: [200000, 500000, 250000, 170000, 89000, 260000, 390000, 10000],
                    itemStyle: {
                        normal: {
                            color: 'red'
                        },
                        emphasis: {
                            color: '#ff7043'

                        }
                    }
                }
            ]
        }


        //    chartBar.setOption(option2);
        // chartBar2.setOption(option2);

        //  chartBar3.setOption(horizontalOption);
    }


    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

</script>

<script src="~/assets/BI/pace.min.js"></script>
<script src="~/assets/BI/viewportchecker.js"></script>
<script src="~/assets/BI/jquery-jvectormap-2.0.1.min.js"></script>
<script src="~/assets/BI/jquery-jvectormap-world-mill-en.js"></script>
<script src="~/assets/BI/dashboard.js"></script>
<script src="~/assets/BI/echarts-custom-for-dashboard.js"></script>

<script src="~/assets/BI/perfect-scrollbar.min.js"></script>
<script src="~/assets/BI/Script.js?ver=1.2233d42"></script>
<script src="~/assets/js/DashboardSystem3/ViewListHandler_Index.js?dssdds225393"></script>
<script src="~/assets/js/DashboardSystem3/ViewListHandler.js?v4.343xd99dde"></script>

</html>