@model TDM.Models.TB_MAS_PROVINCE

@{
    ViewBag.Title = "การติดตามความก้าวหน้าของการประเมินราคา";
}

@section Scripts {
    @Scripts.Render("~/Scripts/TrackValuation/Index.js")
}

<section class="block banner center">
    <div class="container">
        <h2 class="big" style="line-height: 40px; color: #fff">การติดตามความก้าวหน้าของการประเมินราคา</h2>
    </div>
    <div class="background">
        <img src="~/assets/img/login-bg.png" alt="">
    </div>
</section>

<section id="promo-boxes" class="block" style="margin-bottom: 0px; padding-bottom: 0px; padding-top: 20px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="~/" class="icon"><i class="fa fa-angle-left"></i> Back</a>
            </div>
        </div>
    </div>
</section>

<section id="promo-boxes" class="block" style="margin-bottom: 0px; padding-bottom: 0px; padding-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="~/TrackValuation/Detail"><img src="~/assets/img/thailand-map.jpg"></a>
            </div>
        </div>
    </div>

    <!--./container-->
</section>
<!--end Promo Boxes-->