
@{
    ViewBag.Title = "BI Management";

}

<!DOCTYPE html>
<html>
<head>




</head>



    <div class="page-sidebar pagescroll expandit droppable " data-color="xx">

        <!-- MAIN MENU - START -->
        <div class="page-sidebar-wrapper " id="main-menu-wrapper" >




            <ul class="wraplist " style="height: auto;">

                <li class="menusection">ค้นหา  </li>
                <li class="">
                    <a href="#">

                        <div class="row">
                            <div class="col-xs-11">
                                <i class="fa fa-search icon-primary"></i>  <span class="title">Connecting to Server</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="form-group">

                                    <input class="form-control form-control-lg" name="txtServer" id="txtServer" placeholder="Server Name" />


                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="form-group">

                                    <input class="form-control form-control-lg" name="txtLogin" id="txtLogin" placeholder="Login" />


                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="form-group">

                                    <input class="form-control form-control-lg" name="txtPassword" id="txtPassword" placeholder="Password" />


                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-11">
                                <button class="btnConnect btn btn-primary">Connect</button>

                            </div>

                        </div>

                    </a>
                </li>
                <li class="">


                    





                    <div class="row">

                        <div class="col-xs-11">
                            <section class="box  draggable boxfield m-fadeOut"  data-color="xx">
                                <header class="panel_header">
                                    <i class="glyphicon glyphicon-list-alt  icon-info"></i>  <span class="title">Field</span>
                                </header>
                                <div class="content-body">

                                    <div id="draggable" class="draggable" data-color="red"></div>
                                    <div id="draggable2" class="draggable" data-color="blue"></div>
                                    <div id="droppable" class="droppable" data-color="red"></div>
                                    <div id="droppable2" class="droppable" data-color="blue"></div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="displayField" ondrop="returndrop(event)" ondragover="allowDrop(event)">
                                                <button type="button" id="fRegion" dataid="region" dataname="Region" class="btn btn-success btnfield  drag rightAction" draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)">Region</button>
                                                <button type="button" id="fProvince" dataid="province" dataname="Province" class="btn btn-success btnfield" draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)">Province</button>
                                                <button type="button" id="fAmphure" dataid="amphure" dataname="Amphure" class="btn btn-success btnfield" draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)">Amphure</button>
                                                <button type="button" id="fTumbol" dataid="tumbol" dataname="Tumbol" class="btn btn-success btnfield" draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)">Tumbol</button>
                                                <button type="button" id="fParcelPrice" dataid="parcelprice" dataname="ParcelPrice" class="btn btn-success btnfield" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)">PacelPrice</button>
                                                <button type="button" id="fMarketPrice" dataid="marketprice" dataname="MarketPrice" class="btn btn-success btnfield" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)">MarketPrice</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>

                        </div>
                    </div>



                </li>




            </ul>



        </div>
        <!-- MAIN MENU - END -->



    </div>
    <section id="main-content">
        <section class="wrapper main-wrapper row" style=''>



            <div class="col-xs-12">
                <div class="divView">


                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">

            </div>

            <div class="clearfix"></div>


            <div class="divLand">
                <!-- MAIN CONTENT AREA STARTS -->
                <!-- Dashboard Menu -->


                <div class="divSection1">

                    <div class="col-xs-12">

                        <section class="box ">
                            <header class="panel_header bg-info">
                                <i class="fa fa-2x fa-table " aria-hidden="true"> Query</i>
                                <div class="actions panel_actions pull-right">
                                    <button class="btn btn-primary btnQuery">Query</button>
                                    <a class="box_toggle fa fa-chevron-down"></a>
                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                    <a class="box_close fa fa-times"></a>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Query</label>
                                            <textarea rows="10" class="form-control" id="txtQuery" aria-describedby="txtQuery" placeholder="Select a,b,c from table"></textarea>
                                            <small id="emailHelp" class="form-text text-muted">Input query to generate graph,table.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>

                </div>




                <div class="divSection3">

                    <div class="col-xs-12">

                        <section class="box ">
                            <header class="panel_header bg-info">
                                <div class="row">
                                    <div class="col-xs-6 col-md-6 col-lg-4">
                                        <select class="form-control form-control-lg" style="margin-top:5px" name="ddlSelectGraph" id="ddlSelectGraph">
                                            <option value="">เลือกประเภท</option>
                                            <option value="1">Table</option>
                                            <option value="2">Bar Chart</option>
                                            <option value="3">Line Chart</option>
                                            <option value="4">Pie Chart</option>
                                        </select>

                                    </div>
                                    <div class="col-xs-4 col-md-6 col-lg-8">

                                        <div class="actions panel_actions pull-right">
                                            <button class="btn btn-info btnPreview">Preview Template</button>
                                            <button class="btn btn-primary btnSaveTemplate">Save Template</button>
                                            <a class="box_toggle fa fa-chevron-down"></a>
                                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                            <a class="box_close fa fa-times"></a>
                                        </div>
                                    </div>

                                </div>

                            </header>
                            <div class="content-body" style="min-height:200px;">
                                <div class="row">


                                    <div class="col-xs-12 col-md-8 col-lg-6">
                                        <section class="box">
                                            <header class="panel_header">
                                                <h2 class="title pull-left lblChartBar">Menu</h2>
                                                <div class="actions panel_actions pull-right">
                                                    <a class="box_toggle fa fa-chevron-down"></a>
                                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                                    <a class="box_close fa fa-times"></a>
                                                </div>
                                            </header>
                                            <div class="content-body ">

                                                <div class="divSelected divSelected1 hidden">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button class="btn btn-primary btnSave pull-right">Save</button>
                                                        </div>

                                                    </div>
                                                    <div class="row" style="padding-top:10px">

                                                        <div class="col-xs-12">
                                                            <div class="divDragTable dragdrop" id="divDragTable" ondrop="drop(event)" ondragover="allowDrop(event)">


                                                            </div>
                                                        </div>
                                                    </div> <!-- End .row -->
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="divTableDisplay">
                                                                <!-- Add table -->
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="divSelected divSelected2  hidden">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button class="btn btn-primary btnSave pull-right">Save</button>
                                                        </div>

                                                    </div>
                                                    <div class="row">

                                                        <div class="col-xs-8 col-xs-offset-2">
                                                            <div class="chart-container">
                                                                <div class="barchart" style="height:400px" id="barchart">

                                                                    <img src="~/assets/img/graph/barchar1.png" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End .row -->
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <label class="text-lg">xAxis</label>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="divBarchartX dragdrop" id="divBarchartX" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">

                                                        </div>
                                                    </div> <!-- End .row -->
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <label class="text-lg">yAxis</label>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="divBarchartY dragdrop" id="divBarchartY" ondrop="drop(event)" ondragover="allowDrop(event)">


                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <select class="form-control form-control-lg"
                                                                        title="กรุณาเลือก"
                                                                        placeholder="กรุณาเลือก"
                                                                        name="ddlOperation" id="ddlOperation" multiple>

                                                                    <option value="1">Sum</option>
                                                                    <option value="2">Avg</option>
                                                                    <option value="3">Max</option>
                                                                    <option value="3">Min</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End .row -->
                                                </div>

                                                <div class="divSelected divSelected3  hidden">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button class="btn btn-primary btnSave pull-right">Save</button>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-8 col-xs-offset-2">
                                                            <div class="chart-container">
                                                                <div class="barchart" style="height:400px" id="barchart">

                                                                    <img src="~/assets/img/graph/linechart1.png" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End .row -->
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <label class="text-lg">xAxis</label>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="divBarchartX dragdrop" id="divBarchartX" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">

                                                        </div>
                                                    </div> <!-- End .row -->
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <label class="text-lg">yAxis</label>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="divBarchartY dragdrop" id="divBarchartY" ondrop="drop(event)" ondragover="allowDrop(event)">


                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="form-group">
                                                                <select class="form-control form-control-lg"
                                                                        title="กรุณาเลือก"
                                                                        placeholder="กรุณาเลือก"
                                                                        name="ddlOperation" id="ddlOperation" multiple>

                                                                    <option value="1">Sum</option>
                                                                    <option value="2">Avg</option>
                                                                    <option value="3">Max</option>
                                                                    <option value="3">Min</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End .row -->
                                                </div>
                                                <div class="divSelected divSelected4  hidden">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button class="btn btn-primary btnSave pull-right">Save</button>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-8 col-xs-offset-2">
                                                            <div class="chart-container">
                                                                <div class="barchart" id="barchart">

                                                                    <img src="~/assets/img/graph/piechart1.png" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End .row -->
                                                    <div class="row" style="padding-top:10px;">
                                                        <div class="col-xs-3">
                                                            <label class="text-lg">xAxis</label>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="divBarchartX dragdrop" id="divBarchartX" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">

                                                        </div>
                                                    </div> <!-- End .row -->
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <label class="text-lg">yAxis</label>
                                                        </div>
                                                        <div class="col-xs-5">
                                                            <div class="divBarchartY dragdrop" id="divBarchartY" ondrop="drop(event)" ondragover="allowDrop(event)">


                                                            </div>
                                                        </div>
                                                        <div class="col-xs-4">

                                                        </div>
                                                    </div> <!-- End .row -->
                                                </div>
                                            </div>

                                        </section>
                                    </div>


                                    <div class="col-xs-12 col-md-6 co-lg-3">
                                        <section class="box">
                                            <header class="panel_header">
                                                <h2 class="title pull-left lblChartBar">Selection</h2>
                                                <div class="actions panel_actions pull-right">
                                                    <a class="box_toggle fa fa-chevron-down"></a>
                                                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                                    <a class="box_close fa fa-times"></a>
                                                </div>
                                            </header>
                                            <div class="content-body ">

                                                <div class="divTableSelection">
                                                    <table class="table table-bordered table-striped  " id="tblSelection">
                                                        <thead>
                                                            <tr class="bg-info">
                                                                <th>No</th>
                                                                <th>Type</th>
                                                                <th>Delete</th>
                                                            </tr>

                                                        </thead>

                                                    </table>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div> <!-- End .row -->



                            </div>
                        </section>

                    </div>

                </div>


                <div class="divPreview m-fadeOut">

                    <div class="col-xs-12">

                        <section class="box ">
                            <header class="panel_header bg-info">
                                <i class="fa fa-2x fa-table " aria-hidden="true"> Preview</i>
                            </header>
                            <div class="content-body">
                             <div class="divPreviewBody"></div>

                            </div>
                        </section>
                        </div>

                    </div>

                </div>










                <!-- MAIN CONTENT AREA ENDS -->
</section>


        @Html.Partial("~/Views/Shared/_PartialPage_Footer_System_3.cshtml")
    </section>



    <script src="~/assets/BI/BIManagment.js?ver=1.07dd31"></script>
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <script type="text/javascript">



    </script>

</html>


