
@{
    ViewBag.Title = "Index";

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="กรมธนารักษ์">
    <meta name="Description" content=" กรมธนารักษ์">
    <title>กรมธนารักษ์</title>

    <style type="text/css">
       
    </style>
    @section Scripts {
        @Scripts.Render("~/assets/css/customize.css?v113")
        @Scripts.Render("~/assets/css/Kim_Style.css?v333")
    }


    <script src="~/Scripts/waiting.js?ver=1.0220"></script>

    <link href="~/assets/css/customize.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />

    <link href="~/assets/css/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="~/assets/css/BI/bootstrap.min.css?ver=1.3330" rel="stylesheet" />

    <link href="~/assets/css/BI/pace-theme-flash.css" rel="stylesheet" />
    <link href="~/assets/css/BI/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- CORE CSS FRAMEWORK - END -->
    <!-- CORE CSS TEMPLATE - START -->
    <link href="~/assets/css/BI/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/BI/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/assets/css/BI/jquery-jvectormap-2.0.1.css" rel="stylesheet" />

    <link href="~/assets/css/Kim_Style.css?ver1.33" rel="stylesheet" />
    <link href="~/assets/css/BI/Style.css?ver1.333deeed3" rel="stylesheet" />

    <!-- CORE CSS TEMPLATE - END -->
    <link href="~/assets/js/jquery-ui.css" rel="stylesheet" />


    <!-- Bootstrap -->
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js?33"></script>

</head>
<body class="nav-md">
    <div id="wait"></div>
    <div class="page-topbar">
        <div class="logo-area">

        </div>

        <div class="quick-area">
            <div class="pull-left">
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>



                </ul>
            </div>
            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span class="prfil-img"><img src="~/assets/img/small.gif" class="img-responsive img-circle" alt=""> </span>
                                <div class="user-name">
                                    <p>User</p>
                                    <span>Administrator</span>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                            <li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
                            <li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <!-- START CONTENT -->

    <div class="page-sidebar pagescroll expandit">

        <!-- MAIN MENU - START -->
        <div class="page-sidebar-wrapper" id="main-menu-wrapper">




            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 934px;">
                    <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="true" data-auto-scroll="true" data-slide-speed="200" data-height="934" data-initialized="1" style="overflow: hidden; width: auto; height: 934px;">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

                        <li class="nav-item   ">
                            <a href="~/DashboardSystem3/" class="nav-link nav-toggle">
                                <i class="glyphicon glyphicon-home" style="color:red"></i>
                                <span class="title">หน้าหลัก</span>
                            </a>
                        </li>

                        <!-- <li class="nav-item   ">
          <a href="~/Home/Menu1" class="nav-link nav-toggle">
              <i class="fa fa-money" style="color:blue"></i>
              <span class="title">ซื้อขายจดทะเบียน</span>
          </a>
      </li>-->
                        <li class="nav-item   ">
                            <a href="~/Home/Menu2" class="nav-link nav-toggle">
                                <i class="fa fa-bar-chart" style="color:blue"></i>
                                <span class="title">แนวโน้มการซื้อขายอาคารชุด</span>
                            </a>
                        </li>
                        <li class="nav-item   ">
                            <a href="~/Home/Menu3" class="nav-link nav-toggle">
                                <i class="glyphicon glyphicon-random" style="color:red"></i>
                                <span class="title">การเปลี่ยนแปลงราคาซื้อขาย</span>
                            </a>
                        </li>
                        <li class="nav-item   ">
                            <a href="~/Home/System_3_with_Layout?Menu=5" class="nav-link nav-toggle">
                                <i class="fa fa-users" style="color:purple"></i>
                                <span class="title">ปริมาณการเข้าใช้ระบบ</span>
                            </a>
                        </li>

                        <li class="nav-item   ">
                            <a href="~/BI/Index" class="nav-link nav-toggle">
                                <i class="glyphicon glyphicon-eye-open" style="color:green"></i>
                                <span class="title">สร้างรายงานด้วย BI</span>
                            </a>
                        </li>
                        <!-- <li class="btnLogout" onclick="logout()">
        <a href="https://p-staging.treasury.go.th/pvalue/logout">

            <i class="icon-key"></i> ออกจากระบบ
        </a>
    </li>-->
                        <li class="menusection">ค้นหา  </li>
                        <li class="">
                            <a href="#">

                                <div class="row">
                                    <div class="col-xs-11">
                                        <i class="fa fa-search icon-primary"></i>  <span class="title">เลือกพื้นที่ที่ต้องการค้นหา</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="funkyradio">
                                            <div class="funkyradio-success">
                                                <input type="checkbox" name="Type1" id="rdCluster" />
                                                <label for="rdCluster">คลัสเตอร์</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <select class="form-control form-control-lg" name="ddlRegion" id="ddlRegion" required>
                                                <option value="">เลือกภาค</option>
                                                <option value="1">ภาคกลาง</option>
                                                <option value="2">ตะวันตก</option>
                                                <option value="3">เหนือ</option>
                                                <option value="4">ตะวันออกเฉียงเหนือ</option>
                                                <option value="5">ใต้</option>
                                                <option value="6">ตะวันออก</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <select class="form-control form-control-lg" name="ddlProvince" id="ddlProvince" required>
                                                <option value="">เลือกจังหวัด</option>
                                                <option value="1">กรุงเทพ</option>
                                                <option value="2">นนทบุรี</option>

                                            </select>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <select class="form-control form-control-lg" name="ddlDistrict" id="ddlDistrict" required>
                                                <option value="">เลือกอำเภอ</option>
                                                <option value="1">สาธร</option>
                                                <option value="2">บางรัก</option>

                                            </select>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <select class="form-control form-control-lg" name="ddlSubdistrict" id="ddlSubdistrict" required>
                                                <option value="">เลือกตำบล</option>
                                                <option value="1">ทุ่งมหาเมฆ</option>
                                                <option value="2">ยานนาวา</option>
                                                <option value="3">ทุ่งวัดดอน</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </a>
                        </li>
                        <li>

                            <div class="row">
                                <!-- <div class="col-xs-11">
                <div class="form-group">
                    <select class="form-control form-control-lg"
                            title="เลือกประเภท"
                            placeholder="เลือกประเภท"
                            name="ddlType1"
                            id="ddlType1" multiple>

                        <option value="1">ที่ดิน</option>
                        <option value="2">อาคารชุด</option>
                        <option value="3">สิ่งปลูกสร้าง</option>
                        <option value="4">พื้นที่โครงการรัฐ</option>

                    </select>
                </div>

            </div>-->

                            </div>

                         
                        </li>

                    </ul><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 706.361px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
                <!-- END SIDEBAR MENU -->
            </div>

            

            </div>
            <!-- MAIN MENU - END -->



        </div>
    <section id="main-content">
        <section id="menulist">
            <div class="content-heading bg-white">
               
                <div class="row">
                    <div class="col-sm-9 divView">
                        
                    </div>
                    
                </div>
            </div>

        </section>
      
       

        <section class="wrapper main-wrapper row" style=''>



            <div class="clearfix"></div>
            <div class="col-lg-12">
                <section class="box nobox marginBottom0">
                    <div class="content-body">
                        <div class="row">



                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="r4_counter db_box bg-info  btnLand zoom">
                                    <i class='pull-left fa fa-2x fa fa-cubes icon-rounded icon-info '></i>
                                    <div class="stats">
                                        <h2 class="TextHeader text-center"><strong class="">ที่ดิน</strong></h2>

                                    </div>
                                    <div class="footer">
                                        <h4>รายงานเกี่ยวกับข้อมุลที่ดิน</h4>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="r4_counter db_box bg-danger  btnCondo zoom">
                                    <i class='pull-left fa fa-building icon-md icon-rounded icon-warning '></i>
                                    <div class="stats">
                                        <h2 class="TextHeader text-center"><strong class="">ที่อาคารชุด</strong></h2>

                                    </div>
                                    <div class="footer">
                                        <h4>รายงานเกี่ยวกับ อาคารชุด</h4>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="r4_counter db_box bg-success  btnBuilding zoom">
                                    <i class='pull-left glyphicon glyphicon-home icon-md icon-rounded icon-info '></i>
                                    <div class="stats">
                                        <h2 class="TextHeader text-center"><strong class="">สิ่งปลูกสร้าง</strong></h2>

                                    </div>
                                    <div class="footer">
                                        <h4>รายงานเกี่ยวกับ สิ่งปลูกสร้าง</h4>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="r4_counter db_box bg-warning  btnGov zoom">
                                    <i class='pull-left fa fa-bank icon-md icon-rounded icon-accent '></i>
                                    <div class="stats">
                                        <h2 class="TextHeader text-center"><strong class="">พื้นที่โครงการรัฐ</strong></h2>

                                    </div>
                                    <div class="footer">
                                        <h4>รายงานเกี่ยวกับ พื้นที่โครงการรัฐ</h4>

                                    </div>
                                </div>
                            </div>


                           
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="clearfix"></div>
           <!--Land-->

            <div class="divLand m-fadeOut">
                <!-- MAIN CONTENT AREA STARTS -->
                <!-- Dashboard Menu -->

                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-info"><i class="fa fa-calendar" aria-hidden="true"> แผนงานและโครงการ</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row" style="text-align:center;">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group text-left">
                                       
                                        <select class="form-control form-control-lg"
                                                name="ddlLand" id="ddlLand">
                                            <option value="0">เลือกทั้งหมด</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="text-align:center; overflow-x:auto">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="divSection1Land">
                                        <table class="tblChart">

                                            <tr></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-info"><i class="fa fa-cube" aria-hidden="true"> สรุปราคา สูงสุด/ต่ำสุด</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>

                        <div class="content-body">

                            <div class="row" style="text-align:center; overflow-x:auto">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="divSection1 m-fadeOut">





                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>





                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-info"><i class="fa fa-table" aria-hidden="true"> รายละเอียด</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="divSection2">
                                        <table class="table table-bordered table-striped   " id="EstimateChartTable0">
                                            <thead>
                                                <tr class="bg-info">
                                                    <th scope="col">เลขที่ฉโนด</th>
                                                    <th scope="col">จังหวัด</th>
                                                    <th scope="col">อำเภอ</th>
                                                    <th scope="col">ตำบล</th>
                                                    <th scope="col">ราคาประเมิน</th>
                                                    <th scope="col">ราคาซื้อขาย</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1333</td>
                                                    <td>กุรงเทพ</td>
                                                    <td>ยานนาวา</td>
                                                    <td>สาธร</td>
                                                    <td>200,000 </td>
                                                    <td>250,000 </td>

                                                </tr>
                                                <tr>
                                                    <td>19933</td>
                                                    <td>กุรงเทพ</td>
                                                    <td>ดินแดง</td>
                                                    <td>ดินแดง</td>
                                                    <td>100,000 </td>
                                                    <td>120,000 </td>

                                                </tr>
                                                <tr>
                                                    <td>144433</td>
                                                    <td>กุรงเทพ</td>
                                                    <td>พระขโนง</td>
                                                    <td>บางจาก</td>
                                                    <td>150,000 </td>
                                                    <td>190,000 </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- End .row -->

                        </div>
                    </section>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-info"><i class="fa fa-bar-chart" aria-hidden="true"> กราฟ</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chart-container">
                                        <div class="chart3" style="height:600px;" id="chart3"></div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>


                <div class="col-xs-12 col-md-8 col-lg-6">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left"></h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chart-container">
                                        <div class="chart1" style="height:600px" id="chart1"></div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>

                <div class="col-xs-12 col-md-8 col-lg-6">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left"></h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chart-container">
                                        <div class="chart2" style="height:600px" id="chart2"></div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>


            </div>

            <!-- Condo-->

            <div class="divCondo m-fadeOut">

                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-danger"><i class="fa fa-calendar" aria-hidden="true"> แผนงานและโครงการ</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>

                        <div class="content-body">
                            <div class="row" style="text-align:center;">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group text-left">

                                        <select class="form-control form-control-lg"
                                                name="ddlCondo" id="ddlCondo">
                                            <option value="0">เลือกทั้งหมด</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="text-align:center; overflow-x:auto">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="divSection1Condo">
                                        <table class="tblChart">

                                            <tr></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>

                <div class="col-xs-12">

                    <div class="divSection1">


                    </div>
                </div>
                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-danger"><i class="fa fa-table" aria-hidden="true"> อาคารชุด</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="divSection2">
                                        <table class="table table-bordered table-striped   " id="EstimateChartTable0">
                                            <thead>
                                                <tr class="bg-danger">
                                                    <th scope="col">ชื่ออาคารชุด</th>
                                                    <th scope="col">จังหวัด</th>
                                                    <th scope="col">อำเภอ</th>
                                                    <th scope="col">ตำบล</th>
                                                    <th scope="col">ราคาซื้อขาย</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ลุมพินีเพลส</td>
                                                    <td>กุรงเทพ</td>
                                                    <td>ยานนาวา</td>
                                                    <td>บางรัก</td>
                                                    <td>3,500,000 </td>


                                                </tr>
                                                <tr>
                                                    <td>คอนโด 2</td>
                                                    <td>กุรงเทพ</td>
                                                    <td>ดินแดง</td>
                                                    <td>ดินแดง</td>
                                                    <td>1,500,000 </td>


                                                </tr>
                                                <tr>
                                                    <td>คอนโด เพลส 1</td>
                                                    <td>กุรงเทพ</td>
                                                    <td>พระขโนง</td>
                                                    <td>บางจาก</td>
                                                    <td>1,950,000 แปลง</td>


                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- End .row -->

                        </div>
                    </section>
                </div>


                <div class="col-xs-12 col-md-5 col-lg-5">
                    <section class="box ">
                        <header class="panel_header">

                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chart-container">
                                        <div class="chartCondo1" style="height:400px" id="chartCondo1"></div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>
                <div class="col-xs-12 col-md-7 col-lg-7">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left"></h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="">
                                        <div class="chartCondo3" style="height:400px;" id="chartCondo3"></div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>




            </div>
                <!-- Building-->
            <div class="divBuilding m-fadeOut">

                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-success"><i class="fa fa-calendar" aria-hidden="true"> แผนงานและโครงการ</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>

                        <div class="content-body">
                            <div class="row" style="text-align:center;">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="form-group text-left">

                                        <select class="form-control form-control-lg"
                                                name="ddlBuilding" id="ddlBuilding">
                                            <option value="0">เลือกทั้งหมด</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="text-align:center; overflow-x:auto">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="divSection1Building">
                                        <table class="tblChart">

                                            <tr></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>

                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-success"><i class="fa fa-table" aria-hidden="true"> สิ่งปลูกสร้าง</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <input type="button" class="btn btnSearchBuiding btn-success" value="ค้นหา" />
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row" style="padding-bottom:10px;">
                                <div class="col-xs-3 ">
                                    <label>ประเภทสิ่งปลูกสร้าง</label>
                                    <select class="form-control form-control-lg" name="ddlConstructionType" id="ddlConstructionType" placeholder="สิ่งปลูกสร้าง"></select>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label>จังหวัด</label>
                                        <select class="form-control form-control-lg"
                                                title="เลือกจังหวัด"
                                                placeholder="เลือกจังหวัด"
                                                name="ddlProvince1" id="ddlProvince1"></select>
                                    </div>

                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>จังหวัดที่เปรียบเทียบ</label>
                                        <select class="form-control form-control-lg"
                                                title="จังหวัดที่เปรียบเทียบ"
                                                placeholder="จังหวัดที่เปรียบเทียบ"
                                                name="ddlProvince2" id="ddlProvince2" multiple></select>
                                    </div>

                                </div>
                                <div class="col-xs-2">

                                    <div class="form-group">
                                        <label>เปอร์เซ็นต์ต่าง</label>
                                        <div class='input-group'>

                                            <input class="form-control txtPercent" id="txtPercent" value="10" placeholder="% ความต่าง" />
                                            <span class="input-group-addon">
                                                <span>%</span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label>ปี</label>
                                        <select class="form-control form-control-lg"
                                                title="ปี"
                                                placeholder="ปี"
                                                name="ddlYear" id="ddlYear"></select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="divSection1">
                                        <table class="table table-bordered table-striped   " id="EstimateChartTable0">
                                            <thead>
                                                <tr class="bg-info">
                                                    <th scope="col">รหัส</th>
                                                    <th scope="col">ชื่อ</th>
                                                    <th scope="col">จังหวัด</th>
                                                    <th scope="col">ราคา/ตารางเมตร</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100</td>
                                                    <td>ประเภทบ้านเดี่ยว</td>
                                                    <td>จ.กรุงเทพ</td>
                                                    <td>7,500.00</td>
                                                </tr>
                                                <tr>
                                                    <td>200</td>
                                                    <td>ประเภททาวน์เฮ้าส์</td>
                                                    <td>จ.กรุงเทพ</td>
                                                    <td>5,500.00</td>
                                                </tr>
                                                <tr>
                                                    <td>100</td>
                                                    <td>ประเภทห้องแถว</td>
                                                    <td>จ.กรุงเทพ</td>
                                                    <td>4,500.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- End .row -->

                        </div>
                    </section>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-success"><i class="glyphicon glyphicon-stats" aria-hidden="true"> กราฟแสดงราคาอาคารชุด</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chart-container">
                                        <div class="" style="height:600px" id="chartBuilding1"></div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>

            </div>

            <div class="divGov m-fadeOut">

                <!--  <div class="col-xs-12">
        <div class="content-body">
            <div class="row" style="text-align:center;">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group text-left">
                        <h2 class="title pull-left">แผนงาน/โครงการ</h2>
                        <select class="form-control form-control-lg"
                                name="ddlLand" id="ddlLand">
                            <option value="0">เลือกทั้งหมด</option>


                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align:center; overflow-x:auto">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="divSection1Gov">
                        <table class="tblChart">

                            <tr></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
                <div class="col-xs-12">
                    <section class="box ">
                        <header class="panel_header">
                            <div class="col-sm-10">
                                <h2 class=" pull-left text-warning"><i class="fa fa-table" aria-hidden="true"> พื้นที่โครงการของรัฐ</i></h2>
                            </div>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">

                                <div class="col-xs-12">
                                    <div class="divSection1">
                                        <table class="table table-bordered table-striped   " id="EstimateChartTable0">
                                            <thead>
                                                <tr class="bg-info">
                                                    <th class="th__center">ชื่อโครงการ</th>
                                                    <th class="th__center">พื้นที่</th>
                                                    <th class="th__center">จำนวนแปลงที่ดินที่กระทบ</th>
                                                    <th class="th__center">เนื้อที่รวม</th>
                                                    <th class="th__center">ราคาประเมินทั้งหมด</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="td__Center">โครงการพื้นที่ 4</td>
                                                    <td class="td__Center">นครราชสีมา</td>
                                                    <td class="td__Center">31</td>
                                                    <td class="td__Center">1,000,000</td>
                                                    <td class="td__Center">ไม่พบ</td>

                                                </tr>
                                                <tr>
                                                    <td class="td__Center">โครงการพื้นที่ 3</td>
                                                    <td class="td__Center">นครราชสีมา</td>
                                                    <td class="td__Center">37</td>
                                                    <td class="td__Center">2,000,000</td>
                                                    <td class="td__Center">ไม่พบ</td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- End .row -->



                        </div>
                    </section>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <section class="box ">
                        <header class="panel_header">

                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="chart-container">
                                        <div class="ChartGov1" style="height:400px" id="ChartGov1"></div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left"></h2>
                            <div class="actions panel_actions pull-right">
                                <a class="box_toggle fa fa-chevron-down"></a>
                                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                                <a class="box_close fa fa-times"></a>
                            </div>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="">
                                        <div class="ChartGov2" style="height:400px;" id="ChartGov2"></div>
                                    </div>
                                </div>
                            </div> <!-- End .row -->
                        </div>
                    </section>
                </div>

            </div>








                <!-- MAIN CONTENT AREA ENDS -->
</section>



    </section>



    <!-- END CONTENT -->
    <!-- END CONTAINER -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <script src="~/assets/BI/pace.min.js"></script>
    <script src="~/assets/BI/viewportchecker.js"></script>
    <script src="~/assets/BI/jquery-jvectormap-2.0.1.min.js"></script>
    <script src="~/assets/BI/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/BI/dashboard.js"></script>
    <script src="~/assets/BI/echarts-custom-for-dashboard.js"></script>

    <script src="~/assets/BI/perfect-scrollbar.min.js"></script>
    <script src="~/assets/BI/Script.js?ver=1.2233d442"></script>
    <script src="~/assets/BI/Index.js?ver=1.5ddddddsxe"></script>
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <script type="text/javascript">



    </script>
</body>
</html>


