
@{
    ViewBag.Title = "Index";

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="กรมธนารักษ์">
    <meta name="Description" content=" กรมธนารักษ์">
    <title>กรมธนารักษ์</title>

    <style type="text/css">
        .table > tbody > tr.tdDetail > td {
            padding: 0px;
            line-height: 0px;
            height: 0px;
        }
    </style>
    @section Scripts {
        @Scripts.Render("~/assets/css/customize.css?v1113")
        @Scripts.Render("~/assets/css/Kim_Style.css?vwwww33333")
    }
    <link href="~/assets/js/jquery-ui.css" rel="stylesheet" />
    <link href="~/assets/css/customize.css?v1113" rel="stylesheet" />
    <link href="~/assets/css/Kim_Style.css?v233333" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="~/assets/css/BI/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/BI/pace-theme-flash.css" rel="stylesheet" />
    <link href="~/assets/css/BI/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- CORE CSS FRAMEWORK - END -->


    <!-- CORE CSS TEMPLATE - START -->
    <link href="~/assets/css/BI/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/BI/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/assets/css/BI/jquery-jvectormap-2.0.1.css" rel="stylesheet" />

    <link href="~/assets/css/BI/Style.css?ver=1d" rel="stylesheet" />

    <!-- CORE CSS TEMPLATE - END -->

    <style type="text/css">
        .selectpicker {
            -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            -moz-transition: 0.3s;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background-color: #fff;
        }

            .selectpicker:hover, .selectpicker:focus, .selectpicker:active, .selectpicker.active, .open .dropdown-toggle.selectpicker {
                color: #333;
                background-color: #fff;
                /*border-color: gold;*/
            }


        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
    </style>
    <!-- Bootstrap -->
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>

</head>
<body class="nav-md">
    <div class="page-topbar">
        <div class="logo-area">
         
        </div>
        <div class="quick-area">
            <div class="pull-left">
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                  
                   
                   
                </ul>
            </div>
         
        </div>

    </div>
    <!-- START CONTENT -->

    <div class="page-sidebar pagescroll expandit">

        <!-- MAIN MENU - START -->
        <div class="page-sidebar-wrapper" id="main-menu-wrapper">

            <!-- USER INFO - START -->
            <div class="profile-info row">

                <div class="profile-image col-xs-4">
                    <a href="ui-profile.html">
                        <img alt="" src="../data/profile/profile.jpg" class="img-responsive img-circle">
                    </a>
                </div>

                <div class="profile-details col-xs-8">

                    <h3>
                        <a href="ui-profile.html">User</a>

                        <!-- Available statuses: online, idle, busy, away and offline -->
                        <span class="profile-status online"></span>
                    </h3>

                    <p class="profile-title">Admin</p>

                </div>

            </div>
            <!-- USER INFO - END -->



            <ul class="wraplist" style="height: auto;">

                <li class="menusection">ค้นหา  <input type="button" class="btn btn-primary pull-right"  value="ค้นหา"/></li>
                <li class="">
                    <a href="#">
                       
                        <div class="row">
                            <div class="col-xs-11">
                                <i class="fa fa-search icon-primary"></i>  <span class="title">เลือกพื้นที่ที่ต้องการค้นหา</span>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <select class="form-control form-control-lg" name="ddlRegion" id="ddlRegion" required>
                                                <option value="">เลือกภาค</option>
                                                <option value="1">ภาคกลาง</option>
                                                <option value="2">ตะวันตก</option>
                                                <option value="3">เหนือ</option>
                                                <option value="4">ตะวันออกเฉียงเหนือ</option>
                                                <option value="5">ใต้</option>
                                                <option value="6">ตะวันออก</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <select class="form-control form-control-lg" name="ddlProvince" id="ddlProvince" required>
                                                <option value="">เลือกจังหวัด</option>
                                                <option value="1">กรุงเทพ</option>
                                                <option value="2">นนทบุรี</option>

                                            </select>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="form-group">
                                            <select class="form-control form-control-lg" name="ddlAmphure" id="ddlAmphure" required>
                                                <option value="">เลือกอำเภอ</option>
                                                <option value="1">สาธร</option>
                                                <option value="2">ดินแดง</option>

                                            </select>
                                        </div>

                                    </div>

                                </div>
</a>
                </li>
                <li class="">
                    <a href="#">
                        <div class="row">
                            <div class="col-xs-11">
                               
                                <span class="title">เลือกประเภท</span>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="form-group">
                                    <select class="form-control form-control-lg" name="ddlType" id="ddlType" multiple>

                                        <option value="1">ที่ดิน</option>
                                        <option value="2">อาคารชุด</option>
                                        <option value="3">สิ่งปลูกสร้าง</option>

                                    </select>
                                </div>

                            </div>

                        </div>
                        <div class="row  funkyradio">
                            <div class="col-xs-11 ">

                                <div class="funkyradio-success">
                                    <input type="checkbox" name="Type1" id="rdMax"  />
                                    <label for="rdMax">สูงสุด</label>
                                </div>
                            </div>
                            <div class="col-xs-11">
                                <div class="funkyradio-primary">
                                    <input type="checkbox" name="Type1" id="rdLow" />
                                    <label for="rdLow">ต่ำสุด</label>
                                </div>
                            </div>
                            <div class="col-xs-11">
                                <div class="funkyradio-primary">
                                    <input type="checkbox" name="Type1" id="rdAvg" />
                                    <label for="rdAvg">เฉลี่ย</label>
                                </div>
                            </div>
                        </div>

                    </a>
                </li>
            
                
                   


            </ul>

         

        </div>
        <!-- MAIN MENU - END -->



    </div>
    <section id="main-content" class=" ">
        <section class="wrapper main-wrapper row" style=''>

            <div class='col-xs-12'>
                <div class="page-title">

                    <div class="pull-left">
                        <!-- PAGE HEADING TAG - START --><h1 class="title">ภาพรวม - ภาคกลาง</h1><!-- PAGE HEADING TAG - END -->
                    </div>


                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-lg-12">
                <section class="box nobox marginBottom0">
                    <div class="content-body">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="r4_counter db_box bg-primary">
                                    <i class='pull-left fa fa-money icon-md icon-rounded icon-info'></i>
                                    <div class="stats">
                                        <h4><strong>500,000 บาท/ตร.ว</strong></h4>
                                        <h6><strong>เขต สาธร</strong></h6>
                                        <span>ราคาประเมินที่ดิน สูงสุด</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="r4_counter db_box bg-danger">
                                    <i class='pull-left fa fa-money icon-md icon-rounded icon-accent'></i>
                                    <div class="stats">
                                        <h4><strong>20,000 บาท/ตร.ว</strong></h4>
                                        <h6><strong>เขต หลักสี่</strong></h6>
                                        <span>ราคาประเมินที่ดิน ต่ำสุด</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                                <div class="r4_counter db_box bg-info">
                                    <i class='pull-left fa fa-money icon-md icon-rounded icon-primary'></i>
                                    <div class="stats">
                                        <h4><strong>90,000 บาท/ตร.ว</strong></h4>
                                        <h6><strong>เขต หลักสี่</strong></h6>
                                        <span>ราคาประเมินที่ดิน เฉลี่ย</span>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="clearfix"></div>
            <!-- MAIN CONTENT AREA STARTS -->
            <div class="col-xs-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">ภาพรวม</h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table table-bordered table-striped   " id="EstimateChartTable0">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th scope="col">อำเภอ</th>
                                            <th scope="col">จำนวนแปลงที่ดิน</th>
                                            <th scope="col">พื้นที่รวม</th>
                                            <th scope="col">ราคาประเมินที่ดิน</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>สาธร</td>
                                            <td>190,000 แปลง</td>
                                            <td>100000 ตารางวา</td>
                                            <td>100000 บาท</td>
                                        </tr>
                                        <tr>
                                            <td>ดอนเมือง</td>
                                            <td>160,000 แปลง</td>
                                            <td>245000 ตารางวา</td>
                                            <td>4400000 บาท</td>
                                        </tr>
                                        <tr>
                                            <td>ดินแดง</td>
                                            <td>190,000 แปลง</td>
                                            <td>566000 ตารางวา</td>
                                            <td>1999000 บาท</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- End .row -->

                    </div>
                </section>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left"></h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chart1" style="height:300px" id="chart1"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left"></h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chart2" style="height:300px" id="chart2"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left"></h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chart3" style="height:300px;" id="chart3"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left"></h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chartCondo1" style="height:300px" id="chartCondo1"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left"></h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chartCondo2" style="height:300px" id="chartCondo2"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left"></h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chartCondo3" style="height:300px;" id="chartCondo3"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Guest / Registered</h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="" style="height:200px" id="user_type"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>



            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Browsers Used</h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="" style="height:200px" id="browser_type"></div>
                                </div>


                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Site Referrals</h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chart has-fixed-height" style="height:200px" id="scatter_chart"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Today Visitors</h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chart has-fixed-height" style="height:200px" id="page_views_today"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>


            <div class="col-xs-12 col-md-6 col-lg-4">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Server Load</h2>
                        <div class="actions panel_actions pull-right">
                            <a class="box_toggle fa fa-chevron-down"></a>
                            <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                            <a class="box_close fa fa-times"></a>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart-container">
                                    <div class="chart has-fixed-height" style="height:200px" id="gauge_chart"></div>
                                </div>
                            </div>
                        </div> <!-- End .row -->
                    </div>
                </section>
            </div>


        

          


            <!-- MAIN CONTENT AREA ENDS -->
        </section>
    </section>
    <!-- END CONTENT -->
 
    <!-- END CONTAINER -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->

    <script src="~/assets/BI/pace.min.js"></script>
    <script src="~/assets/BI/viewportchecker.js"></script>
    <script src="~/assets/BI/jquery-jvectormap-2.0.1.min.js"></script>
    <script src="~/assets/BI/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/BI/dashboard.js"></script>
    <script src="~/assets/BI/echarts-custom-for-dashboard.js"></script>

    <script src="~/assets/BI/perfect-scrollbar.min.js"></script>
    <script src="~/assets/BI/Script.js?ver=1.22ddddd2"></script>

    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <script type="text/javascript">



    </script>
    </body>
</html>


