
@{
    ViewBag.Title = "IndexTu";

}
@section Scripts {
}

<link href="~/assets/css/Kim_Style.css" rel="stylesheet" />
<link href="~/assets/css/customize.css" rel="stylesheet" />
<!-- Bootstrap -->
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<div role="main" class="container-fluid">

    <!-- Header -->
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>ระบบสารสนเทศด้านการประเมินราคาที่ดินสำหรับผู้บริหาร</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile" style="border:none;padding:0;">
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">4. รายงานแสดงแนวโน้มราคาซื้อขายอาคารชุด</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <h4 class="headerwhite">เลือกพื้นที่ที่ต้องการค้นหา</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">

                                                <div class="row ">
                                                    <div class="col-xs-6" style="padding:0px">
                                                        <div class="row  funkyradio">
                                                            <div class="col-xs-12">
                                                                <b>เลือกภาค/คลัสเตอร์</b>
                                                            </div>
                                                        </div>
                                                        <div class="row  funkyradio">
                                                            <div class="col-xs-6 ">

                                                                <div class="funkyradio-success">
                                                                    <input type="radio" name="Type1" id="rdRegion" checked />
                                                                    <label for="rdRegion">Region</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="funkyradio-primary">
                                                                    <input type="radio" name="Type1" id="rdCluster" />
                                                                    <label for="rdCluster">Cluster</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6 pnlRegion">

                                                        <div class="form-group">
                                                            <select class="form-control form-control-lg" name="ddlRegion" id="ddlRegion" required>
                                                                <option value="">เลือกภาค</option>
                                                                <option value="1">ภาคกลาง</option>
                                                                <option value="2">ตะวันตก</option>
                                                                <option value="3">เหนือ</option>
                                                                <option value="4">ตะวันออกเฉียงเหนือ</option>
                                                                <option value="5">ใต้</option>
                                                                <option value="6">ตะวันออก</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlProvince" id="ddlProvince" required>
                                                                <option value="">เลือกจังหวัด</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">


                                                    <div class="col-xs-6 divTab1">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlDistrict" id="ddlDistrict" required>
                                                                <option value="">เลือกอำภอ</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-6 divTab1">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlSubdistrict" id="ddlSubdistrict" required>
                                                                <option value="">เลือกตำบล</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="x_panel">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <label style="line-height: 2.5em;">ช่วงเวลา</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div id="CostRankSlider"></div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control form-control-lg ddlFromMonth">
                                                                            <option value="1">Jan</option>
                                                                            <option value="2">Feb</option>
                                                                            <option value="3">Mar</option>
                                                                            <option value="4">Apr</option>
                                                                            <option value="5">May</option>
                                                                            <option value="6">Jun</option>
                                                                            <option value="7">Jul</option>
                                                                            <option value="8">Aug</option>
                                                                            <option value="9">Sep</option>
                                                                            <option value="10">Oct</option>
                                                                            <option value="11">Nov</option>
                                                                            <option value="12">Dec</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control form-control-lg ddlFromYear" 
                                                                                name="ddlFromYear" id="ddlFromYear" required>
                                                                            <option value="">เลือกปี</option>
                                                                            <option value="2010">2010</option>
                                                                            <option value="2011">2011</option>
                                                                            <option value="2012">2012</option>
                                                                            <option value="2013">2013</option>
                                                                            <option value="2014">2014</option>
                                                                            <option value="2015">2015</option>
                                                                            <option value="2016">2016</option>
                                                                            <option value="2017">2017</option>
                                                                            <option value="2018">2018</option>
                                                                            <option value="2019">2019</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control form-control-lg  ddlToMonth">
                                                                            <option value="1">Jan</option>
                                                                            <option value="2">Feb</option>
                                                                            <option value="3">Mar</option>
                                                                            <option value="4">Apr</option>
                                                                            <option value="5">May</option>
                                                                            <option value="6">Jun</option>
                                                                            <option value="7">Jul</option>
                                                                            <option value="8">Aug</option>
                                                                            <option value="9">Sep</option>
                                                                            <option value="10">Oct</option>
                                                                            <option value="11">Nov</option>
                                                                            <option value="12">Dec</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <div class="form-group">
                                                                        <select class="form-control form-control-lg ddlToYear" 
                                                                                name="ddlToYear" id="ddlToYear" required>
                                                                            <option value="">เลือกปี</option>
                                                                            <option value="2010">2010</option>
                                                                            <option value="2011">2011</option>
                                                                            <option value="2012">2012</option>
                                                                            <option value="2013">2013</option>
                                                                            <option value="2014">2014</option>
                                                                            <option value="2015">2015</option>
                                                                            <option value="2016">2016</option>
                                                                            <option value="2017">2017</option>
                                                                            <option value="2018">2018</option>
                                                                            <option value="2019">2019</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <label style="line-height: 2.5em;">ชื่ออาคารชุด</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                    <div class="form-group">
                                                                        <input class="form-control txtName" id="txtName" placeholder="ชื่ออาคารชุด">
                                                                    </div>
                                                                </div>
                                                              
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-1 col-sm-offset-5">
                                                        <button class="form-control btn btn-primary btnSearch">Search</button>

                                                    </div>
                                                    <div class="col-xs-1 ">

                                                        <button class="form-control btn btn-default">Cancel</button>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                   
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                       
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h4 class="headerwhite">แผนภูมิแสดงราคาซื้อขายเฉลี่ย</h4>
                                                </div>
                                                <div class="panel-body center">
                                                    <div class="panel-body center chartBarNormal">

                                                        <div id="graph1" style="height:100%;width:100%;"></div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                      
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">แนวโน้มราคาซื้อขายเฉลี่ยอาคารชุด</h4>
                                            </div>
                                            <div class="panel-body center divTable" style="overflow-x:auto">
                                                <table class="table table-bordered table-striped tblInfo">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" class="center" rowspan="3">ชื่ออาคารชุด</th>
                                                            <th scope="col" class="center" >ราคาซื้อขายดิน</th>
                                                        </tr>
                                                      
                                                      
                                                    </thead>
                                                    <tbody>
                                                      
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Icon Menu -->
<div class="row section4">
    <div class="col-md-1 col-sm-1 col-xs-12"></div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count tile_stats_count_first center">
        <a href="~/Home/Menu1">
            <div class="count text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-building txt-light-blue fa-5x"></i></p>
                <p>รายงานซื้อขายจดทะเบียนที่ดิน</p>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count center">
        <a href="#">
            <div class="count  text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-refresh txt-light-blue fa-5x"></i></p>
                <p>รายงานแนวโน้มราคาซื้อขายอาคารชุด</p>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count center">
        <a href="~/Home/Menu3">
            <div class="count text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-table txt-light-blue  fa-5x"></i></p>
                <p>รายงานแสดงการเปลี่ยนแปลงราคาซื้อขาย</p>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count center">
        <a href="~/Home/System_3_with_Layout?Menu=5">
            <div class="count text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-users txt-light-blue fa-5x"></i></p>
                <p>รายงานปริมาณการเข้าใช้งานระบบ</p>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count center">
        <a href="~/DashboardSystem3/Index">
            <div class="count text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-bar-chart txt-light-blue fa-5x"></i></p>
                <p>สร้างรายงานด้วย BI</p>
            </div>
        </a>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12"></div>
</div>


<script src="~/Scripts/Home/Menu2.js?ver=1.dddd3e22"></script>



