@{
    ViewBag.Title = "IndexTu";

}
@section Scripts {
}


<link href="~/assets/css/Kim_Style.css" rel="stylesheet" />
<link href="~/assets/css/customize.css" rel="stylesheet" />
<style type="text/css">
    label {
        display: inline-block;
        margin-bottom: 0px;
        font-weight: 700;
    }
</style>
<!-- Bootstrap -->
<!-- Bootstrap -->
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery-ui.js"></script>
<div role="main" class="container-fluid">

    <!-- Header -->
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>ระบบสารสนเทศด้านการประเมินราคาที่ดินสำหรับผู้บริหาร</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile" style="border:none;padding:0;">
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">3. รายงานการซื้อขายจดทะเบียนที่ดิน</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <h4 class="headerwhite">เลือกพื้นที่ที่ต้องการค้นหา</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">

                                                <div class="row ">
                                                    <div class="col-sm-6" style="padding:0px">
                                                        <div class="row  funkyradio">
                                                            <div class="col-sm-12">
                                                                <b>เลือกภาค/คลัสเตอร์</b>
                                                            </div>
                                                        </div>
                                                        <div class="row  funkyradio">
                                                            <div class="col-sm-6 ">

                                                                <div class="funkyradio-success">
                                                                    <input type="radio" name="Type1" id="rdRegion" checked />
                                                                    <label for="rdRegion">Region</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="funkyradio-primary">
                                                                    <input type="radio" name="Type1" id="rdCluster" />
                                                                    <label for="rdCluster">Cluster</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <span>&nbsp;</span>
                                                            <select class="form-control form-control-lg ddlYear  " name="ddlYear" id="ddlYear" required>
                                                                <option value="">เลือกปี</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2019">2019</option>


                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 pnlRegion">

                                                        <div class="form-group">
                                                            <select class="form-control form-control-lg" name="ddlRegion" id="ddlRegion" required>
                                                                <option value="">เลือกภาค</option>
                                                                <option value="1">ภาคกลาง</option>
                                                                <option value="2">ตะวันตก</option>
                                                                <option value="3">เหนือ</option>
                                                                <option value="4">ตะวันออกเฉียงเหนือ</option>
                                                                <option value="5">ใต้</option>
                                                                <option value="6">ตะวันออก</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlProvince" id="ddlProvince" required>
                                                                <option value="">เลือกจังหวัด</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">


                                                    <div class="col-sm-6 divTab1">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlDistrict" id="ddlDistrict" required>
                                                                <option value="">เลือกอำภอ</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 divTab1">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlSubdistrict" id="ddlSubdistrict" required>
                                                                <option value="">เลือกตำบล</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-1 col-sm-offset-5">
                                                        <button class="form-control btn btn-primary btnSearch">Search</button>

                                                    </div>
                                                    <div class="col-sm-1 ">

                                                        <button class="form-control btn btn-default">Cancel</button>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-1">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h4 class="headerwhite">ภาพรวมจำนวนแปลง</h4>
                                                </div>
                                                <div class="panel-body center">
                                                    <div class="alert alert-2" style="background-color:#c41019;color:#fff;display:inline-block;">
                                                        <h6>จำนวนแปลงแบ่งแยกใหม่ (แปลง)</h6>
                                                        <h2 class="right lbNewRegLand ">0</h2>
                                                    </div>
                                                    <div class="alert alert-3" style="background-color:#19527d;color:#fff;display:inline-block;">
                                                        <h6>จำนวนแปลงที่มีการซื้อขายจดทะเบียน (แปลง)</h6>
                                                        <h2 class="right lbRegLand">0</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5  ">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h4 class="headerwhite">ภาพรวมจำนวนแปลงสะสมรายเดือน</h4>
                                                </div>
                                                <div class="panel-body center">
                                                    <div class="alert alert-2" style="background-color:#c41019;color:#fff;display:inline-block;">
                                                        <h6>จำนวนแปลงแบ่งแยกใหม่สะสมรายเดือน (แปลง)</h6>
                                                        <h2 class="right lbNewMonthRegLand">0</h2>
                                                    </div>
                                                    <div class="alert alert-3" style="background-color:#19527d;color:#fff;display:inline-block;">
                                                        <h6>จำนวนแปลงที่มีการซื้อขายจดทะเบียนสะสมรายเดือน (แปลง)</h6>
                                                        <h2 class="right lbMonthRegLand">0</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">จำนวนแปลงในแต่ละเดือน</h4>
                                            </div>
                                            <div class="panel-body chartBarNormal center" style="padding:10px">
                                                <div id="graph1" style="height:100%;width:80%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">จำนวนแปลงสะสมในแต่ละเดือน</h4>
                                            </div>
                                            <div class="panel-body chartBarNormal  ">
                                                <div id="graph2" style="height:100%;width:60%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Icon Menu -->
<div class="row section4">
    <div class="col-md-1 col-sm-1 col-xs-12"></div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count tile_stats_count_first center">
        <a href="~/Home/Menu1">
            <div class="count text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-building txt-light-blue fa-5x"></i></p>
                <p>รายงานซื้อขายจดทะเบียนที่ดิน</p>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count center">
        <a href="~/Home/Menu2">
            <div class="count  text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-refresh txt-light-blue fa-5x"></i></p>
                <p>รายงานแนวโน้มราคาซื้อขายอาคารชุด</p>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count center">
        <a href="~/Home/System_3_with_Layout?Menu=3">
            <div class="count text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-table txt-light-blue  fa-5x"></i></p>
                <p>รายงานแสดงการเปลี่ยนแปลงราคาซื้อขาย</p>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count center">
        <a href="~/DashboardSystem3/Index">
            <div class="count text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-users txt-light-blue fa-5x"></i></p>
                <p>รายงานปริมาณการเข้าใช้งานระบบ</p>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count center">
        <a href="~/DashboardSystem3/Index">
            <div class="count text-center" style="margin-top:10px;margin-bottom:5px">
                <p><i class="fa fa-bar-chart txt-light-blue fa-5x"></i></p>
                <p>สร้างรายงานด้วย BI</p>
            </div>
        </a>
    </div>
    <div class="col-md-1 col-sm-1 col-xs-12"></div>
</div>

<script src="~/Scripts/Home/Menu1.js?ver=1.0dddffeedd2de2"></script>

<script type="text/javascript">



</script>



