


@section Scripts {

    
}










<section id="menulist">
    <div class="content-heading bg-white">

        <div class="row">
            <div class="col-sm-12">
                <!-- Header -->
                <div class="row ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class=" text-center  text-info"> การเปลี่ยนแปลงราคาซื้อขาย</i></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<section class="row" style=''>


    <div class="col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <div class="col-sm-11">

                    <h4 class="text-primary pull-left">รายงานแสดงการเปลี่ยนแปลงราคาซื้อขายและแสดงผลค่าเฉลี่ยอัตราเพิ่มสูงสุดและอัตราต่ำสุด (S/A ratio)</h4>
                </div>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">



                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="headerwhite">การเปลี่ยนแปลงราคาซื้อขาย</h3>
                                    </div>
                                    <div class="panel-body">
                                        <!--<div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <iframe class="map-height" id="tdmap" width="100%" frameborder="0" style="border:0;height:800px" allowfullscreen></iframe>
                                            </div>
                                        </div>-->
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="divTable">
                                                    <table id="tbSort" class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr class="bg-info">
                                                                <th scope="col" class="center">จังหวัด</th>
                                                                <th scope="col" class="center">ช่วงเวลา</th>
                                                                <th scope="col" class="center">S/A Ratio<br>ต่ำสุด</th>
                                                                <th scope="col" class="center">S/A Ratio<br>สูงสุด</th>
                                                                <th scope="col" class="center">S/A Ratio<br>เฉลี่ย</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="chart-container">
                                    <div class="chart1" style="height:600px;" id="chart1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>


<script>

    var currentYear = @DateTime.Now.Year

    $(document).on("click", ".blockSearch", function () {

        if (IsMobile()) {
            openNavR('60%');
        }
        else {
            openNavR('40%');
        }

    });


</script>


<script src="~/Scripts/Home/Menu3.js?ver=1.5555"></script>



