
<!DOCTYPE html>
<html>
<head>


    @section Scripts {

    }






</head>







<section id="menulist">
    <div class="content-heading bg-white">

        <div class="row">
            <div class="col-sm-12 divTitle">
                <!-- Header -->
                <div class="row ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class=" text-center  text-info">รายงานการซื้อขายจดทะเบียนที่ดิน</i></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


<div class="row" style="padding-top:10px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile" style="border:none;padding:0;">
                        <div class="x_content">




                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h3 class="headerwhite">ภาพรวมจำนวนแปลง</h3>
                                            </div>
                                            <div class="panel-body center">
                                                <div class="alert alert-danger col-sm-5">
                                                    <h3>จำนวนแปลงแบ่งแยกใหม่ (แปลง)</h3>
                                                    <h2 class="right lbNewRegLand">-</h2>
                                                </div>
                                                <div class="col-sm-1"></div>
                                                <div class="alert alert-primary col-sm-6">
                                                    <h3>จำนวนแปลงที่มีการซื้อขายจดทะเบียน (แปลง)</h3>
                                                    <h2 class="right lbRegLand">-</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="headerwhite">จำนวนแปลงในแต่ละเดือน</h3>
                                        </div>
                                        <div class="panel-body " style="padding:10px">

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="chartBarNormal chart-container">
                                                        <div id="graph1" style="height:350px;"></div>
                                                    </div>
                                                </div>
                                            </div> <!-- End .row -->


                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="headerwhite">จำนวนแปลงสะสมในแต่ละเดือน</h3>
                                        </div>
                                        <div class="panel-body chartBarNormal chart-container  ">
                                            <div id="graph2"  style="height:350px;"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script>

     var currentYear = @DateTime.Now.Year

    $(document).on("click", ".blockSearch", function () {

        if (IsMobile()) {
            openNavR('60%');
        }
        else {
            openNavR('40%');
        }

    });


</script>

<script src="~/Scripts/Home/Menu1.js?ver=1.9999"></script>
</html>




