
@{
    ViewBag.Title = "IndexTu";

}
@section Scripts {
    }


<link href="~/assets/css/Kim_Style.css" rel="stylesheet" />
<link href="~/assets/css/customize.css" rel="stylesheet" />
<style  type="text/css">
    label {
    display: inline-block;
   margin-bottom:0px;
    font-weight: 700;
}

</style>
<!-- Bootstrap -->
    <!-- Bootstrap -->
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery-ui.js"></script>
<div role="main" class="container-fluid">

    <!-- Header -->
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>ระบบสารสนเทศด้านการประเมินราคาที่ดินสำหรับผู้บริหาร</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile" style="border:none;padding:0;">
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">รายงานการซื้อขายจดทะเบียนที่ดิน</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <h4 class="headerwhite">เลือกพื้นที่ที่ต้องการค้นหา</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">

                                                <div class="row ">
                                                    <div class="col-sm-6 col-xs-12" style="padding:0px">
                                                        <div class="row  funkyradio">
                                                            <div class="col-sm-12 col-xs-12">
                                                                <b>เลือกภาค/คลัสเตอร์</b>
                                                            </div>
                                                        </div>
                                                        <div class="row  funkyradio">
                                                            <div class="col-sm-6 col-xs-12">

                                                                <div class="funkyradio-success">
                                                                    <input type="radio" name="Type1" id="rdRegion" checked />
                                                                    <label for="rdRegion">ภาค</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-xs-12">
                                                                <div class="funkyradio-primary">
                                                                    <input type="radio" name="Type1" id="rdCluster" />
                                                                    <label for="rdCluster">คลัสเตอร์</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3 col-xs-12">
                                                        <div class="form-group">
                                                            <span>&nbsp;</span>
                                                            <select class="form-control form-control-lg" name="ddlYear" id="ddlYear" required>
                                                                <option value="">เลือกปี</option>
                                                                <option value="2013">2556</option>
                                                                <option value="2014">2557</option>
                                                                <option value="2015">2558</option>
                                                                <option value="2016">2559</option>
                                                                <option value="2017">2560</option>
                                                                <option value="2018">2561</option>
                                                                <option value="2019">2562</option>


                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-xs-12 pnlRegion">

                                                        <div class="form-group">
                                                            <select class="form-control form-control-lg" name="ddlRegion" id="ddlRegion" required>
                                                                <option value="">เลือกภาค</option>
                                                                <option value="1">ภาคกลาง</option>
                                                                <option value="2">ตะวันตก</option>
                                                                <option value="3">เหนือ</option>
                                                                <option value="4">ตะวันออกเฉียงเหนือ</option>
                                                                <option value="5">ใต้</option>
                                                                <option value="6">ตะวันออก</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlProvince" id="ddlProvince" required>
                                                                <option value="">เลือกจังหวัด</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">


                                                    <div class="col-sm-6 col-xs-12 divTab1">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlDistrict" id="ddlDistrict" required>
                                                                <option value="">เลือกอำภอ</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6  col-xs-12 divTab1">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlSubdistrict" id="ddlSubdistrict" required>
                                                                <option value="">เลือกตำบล</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-1 col-xs-6 col-sm-offset-5">
                                                        <button class="form-control btn btn-primary btnSearch">ค้นหา</button>
                                                    </div>
                                                    <div class="col-sm-1 col-xs-6">

                                                        <button class="form-control btn btn-default">ยกเลิก</button>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h4 class="headerwhite">ภาพรวมจำนวนแปลง</h4>
                                                </div>
                                                <div class="panel-body center">
                                                    <div class="alert alert-2" style="background-color:#c41019;color:#fff;display:inline-block;">
                                                        <h6>จำนวนแปลงแบ่งแยกใหม่ (แปลง)</h6>
                                                        <h2 class="right">1,154,596</h2>
                                                    </div>
                                                    <div class="alert alert-3" style="background-color:#19527d;color:#fff;display:inline-block;">
                                                        <h6>จำนวนแปลงที่มีการซื้อขายจดทะเบียน (แปลง)</h6>
                                                        <h2 class="right">9,684,392</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12  ">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <h4 class="headerwhite">ภาพรวมจำนวนแปลงสะสมรายเดือน</h4>
                                                </div>
                                                <div class="panel-body center">
                                                    <div class="alert alert-2" style="background-color:#c41019;color:#fff;display:inline-block;">
                                                        <h6>จำนวนแปลงแบ่งแยกใหม่สะสมรายเดือน (แปลง)</h6>
                                                        <h2 class="right">7,034,141</h2>
                                                    </div>
                                                    <div class="alert alert-3" style="background-color:#19527d;color:#fff;display:inline-block;">
                                                        <h6>จำนวนแปลงที่มีการซื้อขายจดทะเบียนสะสมรายเดือน (แปลง)</h6>
                                                        <h2 class="right">5,034,076</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">จำนวนแปลงในแต่ละเดือน</h4>
                                            </div>
                                            <div class="panel-body chartBarNormal center" style="padding:10px">
                                                <div id="graph1" style="height:100%;width:80%"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">จำนวนแปลงสะสมในแต่ละเดือน</h4>
                                            </div>
                                            <div class="panel-body chartBarNormal  ">
                                                <div id="graph2" style="height:100%;width:60%"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Icon Menu -->
    @Html.Partial("~/Views/Shared/_PartialPage_Footer_System_3.cshtml")
</div>
<script src="~/Scripts/Home/Menu1.js?ver=1.0r22"></script>

<script type="text/javascript">



</script>


