
@{
    ViewBag.Title = "IndexTu";

}
@section Scripts {
}

<link href="~/assets/css/Kim_Style.css" rel="stylesheet" />
<link href="~/assets/css/customize.css" rel="stylesheet" />
<link href="~/assets/js/jquery-ui.css" rel="stylesheet" />
<link href="~/assets/css/customize.css?v1113" rel="stylesheet" />
<link href="~/assets/css/Kim_Style.css?v233333" rel="stylesheet" />
<link href="~/assets/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/assets/css/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<!-- Bootstrap -->
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/js/bootstrap-select.min.js"></script>

<style type="text/css">
    .selectpicker {
        -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background-color: #fff;
    }

        .selectpicker:hover, .selectpicker:focus, .selectpicker:active, .selectpicker.active, .open .dropdown-toggle.selectpicker {
            color: #333;
            background-color: #fff;
            /*border-color: gold;*/
        }


    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
</style>
<div role="main" class="container-fluid">

    <!-- Header -->
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>ระบบสารสนเทศด้านการประเมินราคาที่ดินสำหรับผู้บริหาร</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile" style="border:none;padding:0;">
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">รายงานแสดงแนวโน้มราคาซื้อขายอาคารชุด</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <h4 class="headerwhite">เลือกพื้นที่ที่ต้องการค้นหา</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">

                                                <div class="row ">
                                                    <div class="col-xs-6" style="padding:0px">
                                                        <div class="row  funkyradio">
                                                            <div class="col-xs-12">
                                                                <b>เลือกภาค/คลัสเตอร์</b>
                                                            </div>
                                                        </div>
                                                        <div class="row  funkyradio">
                                                            <div class="col-xs-6 ">

                                                                <div class="funkyradio-success">
                                                                    <input type="radio" name="Type1" id="rdRegion" checked />
                                                                    <label for="rdRegion">ภาค</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="funkyradio-primary">
                                                                    <input type="radio" name="Type1" id="rdCluster" />
                                                                    <label for="rdCluster">คลัสเตอร์</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6 pnlRegion">

                                                        <div class="form-group">
                                                            <select class="form-control form-control-lg" name="ddlRegion" id="ddlRegion" required>
                                                                <option value="">เลือกภาค</option>
                                                                <option value="1">ภาคกลาง</option>
                                                                <option value="2">ตะวันตก</option>
                                                                <option value="3">เหนือ</option>
                                                                <option value="4">ตะวันออกเฉียงเหนือ</option>
                                                                <option value="5">ใต้</option>
                                                                <option value="6">ตะวันออก</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlProvince" id="ddlProvince" required>
                                                                <option value="">เลือกจังหวัด</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">


                                                    <div class="col-xs-6 divTab1">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlDistrict" id="ddlDistrict" required>
                                                                <option value="">เลือกอำภอ</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-6 divTab1">
                                                        <div class="form-group">

                                                            <select class="form-control form-control-lg" name="ddlSubdistrict" id="ddlSubdistrict" required>
                                                                <option value="">เลือกตำบล</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="x_panel">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <label style="line-height: 2.5em;">ช่วงเวลา</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div id="CostRankSlider"></div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6 col-xs-3">
                                                                    <div class="form-group">
                                                                        <div class='input-group ' id='txtSFromDate'>

                                                                            <input class="form-control txtSFromDate" id="txtSearchStartDate" placeholder="จากวันที่" />
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-3">
                                                                    <div class="form-group">
                                                                        <div class='input-group ' id='txtSToDate'>
                                                                            <input class="form-control txtSToDate" id="txtSearchEndDate" placeholder="ถึงวันที่" />
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                </div>


                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <label style="line-height: 2.5em;">ชื่ออาคารชุด</label>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                    <div class="form-group">
                                                                        <input class="form-control txtName" id="txtName" placeholder="ชื่ออาคารชุด">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-1 col-sm-offset-5">
                                                        <button class="form-control btn btn-primary btnSearch">ค้นหา</button>

                                                    </div>
                                                    <div class="col-xs-1 ">

                                                        <button class="form-control btn btn-default">ยกเลิก</button>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">แผนภูมิแสดงราคาซื้อขายเฉลี่ย</h4>
                                            </div>
                                            <div class="panel-body center">

                                                <div class="panel-body center chartBarNormal">

                                                    <div id="graph1" style="height:100%;width:100%;"></div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="headerwhite">แนวโน้มราคาซื้อขายเฉลี่ยอาคารชุด</h4>
                                            </div>
                                            <div class="panel-body center divTable" style="overflow-x:auto">
                                                <table class="table table-bordered table-striped tblInfo">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" class="center" rowspan="3">ชื่ออาคารชุด</th>
                                                            <th scope="col" class="center">ราคาซื้อขายดิน</th>
                                                        </tr>


                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Icon Menu -->
@Html.Partial("~/Views/Shared/_PartialPage_Footer_System_3.cshtml")



<script src="~/Scripts/Home/Menu2.js?ver=1.dddd3dde22"></script>




