<style>

    #menulist .content-heading {
        min-height: 100px; !important
    }
</style>
<body class="nav-md">

    <div id="mySidenavR" class="sidenavR invisible">

        <ul class="leftMenu">
            <li> <a class="closebtn" onclick="closeNavR()">×</a></li>
            <li class="mmLeftMenu">

                <div class="row">
                    <div class="col-md-6 padding2">
                        <select class="full-width" style="height:35px; width:100%" id="province" name="selected_province">
                            <!-- name="selected_province"-->
                        </select>
                    </div>
                    <div class="col-md-6 padding2">
                        <select class="full-width" style="height:35px; width:100%" id="district">
                            <option value="">อำเภอ/เขต</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 padding2">
                        <select class="full-width" style="height:35px; width:100%" id="sub-district">
                            <option value="">ตำบล/แขวง</option>
                        </select>
                    </div>
                    <div class="col-md-6 padding2">
                        <select class="full-width" style="height:35px; width:100%" id="branch">
                            <option value="">สำนักงานที่ดิน</option>
                        </select>
                    </div>
                </div>


            </li>

        </ul>

    </div>


    @{
        Layout = "~/Views/Shared/_Layout_for_System_3.cshtml";

    }


    @Html.Partial("~/Views/Shared/_HeaderBar.cshtml")
    <!-- MAIN MENU - START -->
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
    <!-- MAIN MENU - END -->


    <section id="main-content">

        <div class=" blockSearch" onclick="openNavR()">
            <ul class="list-unstyled share-sticky hidden-sm-down border-left-0 p-1 mb-0 slideRight">
                <li class="sum text-center bg-success">
                    <i class="fa fa-search"></i>
                    <strong>ค้นหา</strong>
                </li>

            </ul>
        </div>
        <section id="menulist">
            <div class="content-heading bg-white">

                <div class="row">
                    <div class="col-sm-9 divView">
                        <h3 class=" text-center  text-info">ปริมาณการเข้าใช้งานระบบ</i></h3>
                    </div>

                </div>
            </div>

        </section>



        <section class="wrapper main-wrapper row" style=''>

            <div class="">
                <div class="main_container">
                    <!-- page content -->
                    <div class="right_col" role="main">
                        <div class="">
                            <div class="clearfix"></div>
                            <div class="row">
                                @{
                                    var Menu = Request.QueryString["Menu"];

                                }

                                @Html.Partial("~/Views/Shared/_PartialPage_Header_System_3.cshtml")
                            </div>
                            <div class="row">

                                @Html.Partial("~/Views/Shared/_PartialPage_Search_System_3.cshtml")
                                <div id="SessionContent">
                                    @{

                                        @**********************************************************************@
                                        @* เลือก output file ที่ต้องการตาม Tab ที่ selected เพื่อ render output ที่ต้องการ *@
                                        @**********************************************************************@
                                        var tab_selected_no = Request.QueryString["tab_selected_name"];
                                        var assess_or_selling = Request.QueryString["price"];
                                        Response.Write(assess_or_selling);

                                        if (tab_selected_no == "1")
                                        {
                                            Html.RenderPartial("~/Views/Shared/_PartialPage_Output_System_3.cshtml");
                                        }
                                        else
                                            if (tab_selected_no == "2")
                                        {
                                            if (assess_or_selling == "assessing")
                                            {
                                                Html.RenderPartial("~/Views/Shared/_PartialPage_Output_2_System_3.cshtml");
                                            }
                                            else
                                            {
                                                Html.RenderPartial("~/Views/Shared/_PartialPage_Output_2_1_System_3.cshtml");
                                            }
                                        }
                                        else
                                                    if (tab_selected_no == "3")
                                        {

                                            //Html.RenderPartial("~/Views/Shared/_PartialPage_Output_3_System_3.cshtml");
                                        }
                                        else
                                        {
                                            if (tab_selected_no == "4")
                                            {
                                                //Html.RenderPartial("~/Views/Shared/_PartialPage_Output_4_System_3.cshtml");
                                            }
                                            else
                                            {
                                                if (tab_selected_no == "5")
                                                {
                                                    //Html.RenderPartial("~/Views/Shared/_PartialPage_Output_5_System_3.cshtml");
                                                }
                                            }

                                        }
                                    }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /page content -->

                </div>
            </div>
        </section>
    </section>
</body>
