<style>

    #menulist .content-heading {
        min-height: 100px; !important
    }
</style>
<body class="nav-md">

    @{
        Layout = "~/Views/Shared/_Layout_for_System_3.cshtml";
    }
    <!-- MAIN MENU - START -->
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
    <!-- MAIN MENU - END -->


    <section id="main-content">
        <section id="menulist">
            <div class="content-heading bg-white">

                <div class="row">
                    <div class="col-sm-9 divView">
                        <h3 class=" text-center  text-info">ปริมาณการเข้าใช้งานระบบ</i></h3>
                    </div>

                </div>
            </div>

        </section>



        <section class="wrapper main-wrapper row" style=''>

            <div class="">
                <div class="main_container">
                    <!-- page content -->
                    <div class="right_col" role="main">
                        <div class="">
                            <div class="clearfix"></div>
                            <div class="row">
                                @{
                                    var Menu = Request.QueryString["Menu"];

                                }

                                @Html.Partial("~/Views/Shared/_PartialPage_Header_System_3.cshtml")
                            </div>
                            <div class="row">

                                @Html.Partial("~/Views/Shared/_PartialPage_Search_System_3.cshtml")
                                <div id="SessionContent">
                                    @{

                                        @**********************************************************************@
                                        @* เลือก output file ที่ต้องการตาม Tab ที่ selected เพื่อ render output ที่ต้องการ *@
                                        @**********************************************************************@
                                        var tab_selected_no = Request.QueryString["tab_selected_name"];
                                        var assess_or_selling = Request.QueryString["price"];
                                        Response.Write(assess_or_selling);

                                        if (tab_selected_no == "1")
                                        {
                                            Html.RenderPartial("~/Views/Shared/_PartialPage_Output_System_3.cshtml");
                                        }
                                        else
                                            if (tab_selected_no == "2")
                                        {
                                            if (assess_or_selling == "assessing")
                                            {
                                                Html.RenderPartial("~/Views/Shared/_PartialPage_Output_2_System_3.cshtml");
                                            }
                                            else
                                            {
                                                Html.RenderPartial("~/Views/Shared/_PartialPage_Output_2_1_System_3.cshtml");
                                            }
                                        }
                                        else
                                                    if (tab_selected_no == "3")
                                        {

                                            //Html.RenderPartial("~/Views/Shared/_PartialPage_Output_3_System_3.cshtml");
                                        }
                                        else
                                        {
                                            if (tab_selected_no == "4")
                                            {
                                                //Html.RenderPartial("~/Views/Shared/_PartialPage_Output_4_System_3.cshtml");
                                            }
                                            else
                                            {
                                                if (tab_selected_no == "5")
                                                {
                                                    //Html.RenderPartial("~/Views/Shared/_PartialPage_Output_5_System_3.cshtml");
                                                }
                                            }

                                        }
                                    }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /page content -->

                </div>
            </div>
        </section>
    </section>
</body>
